<div class="container">
  <ul class="list-unstyled multi-steps">
    <li *ngFor="let step of steps" [ngClass]="{'is-active': step.active}">
      <div class="title">{{step.name}}</div>
      <div *ngIf="step.desc" class="subtitle">{{step.desc}}</div>
      <div *ngIf="step.selected" class="selection"><i class="fa fa-arrow-up"></i></div>
    </li>
  </ul>
</div>
