
.terrains-container {

  .terrains-container-header {
    text-align: center;
  }

  .terrains-container-footer {
    #openTerrainTypeSelector {
      min-width: 80%;
    }

    button {
      min-width: 20%;
    }
  }

}


.maxChoicesLabel {
  padding-right: 4px;
}
