<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">Configuration</div>
      </div>

      <div class="box-body">
        <!-- Liste des terrains -->
        <div class="col-md-6">
          <div class="terrains-container">
            <div class="terrains-container-header">
              <label class="terrains-container-title">
                Liste des terrains de stages accessibles
              </label>
            </div>

            <div class="terrains-container-body">
              <table
                *ngIf="terrainTypes && config.availableTerrainTypes && config.availableTerrainTypes.length > 0 else noTerrain"
                class="table table-bordered">
                <tr *ngFor="let ttId of config.availableTerrainTypes">
                  <td class="text-center">
                    {{ getTerrainTypeName(ttId) }}
                  </td>
                  <td class="text-center">
                    <i (click)="removeTerrainType(ttId)" class="fa fa-trash"></i>
                  </td>
                </tr>
              </table>

              <ng-template #noTerrain>
                <div class="col-md-12 text-center">
                  Pas de terrain ajouté pour le moment
                </div>
              </ng-template>
            </div>

            <div class="terrains-container-footer">
              <div class="form-inline text-center">
                <label class="sr-only" for="openTerrainTypeSelector">Ajouter un terrain</label>
                <select #openedTerrainTypeSelected class="form-control" id="openTerrainTypeSelector">
                  <option *ngFor="let tt of showedOpenedTerrainTypes" [value]="tt.id">
                    {{tt.name}}
                  </option>
                </select>

                <button (click)="addTerrainType(openedTerrainTypeSelected.value)"
                        [disabled]="!showedOpenedTerrainTypes || showedOpenedTerrainTypes.length === 0"
                        class="btn btn-success">
                  Ajouter
                </button>
              </div>
            </div>

          </div>
        </div>

        <!-- Reste de la config -->
        <div class="col-md-6">

          <table class="table">
            <tr class="form-inline">
              <td>
                <label class="maxChoicesLabel" for="maxChoicesPerPeriod">Nombre de choix par période</label>
              </td>
              <td>
                <input [(ngModel)]="config.maxChoicesPerPeriod" class="form-control"
                       id="maxChoicesPerPeriod" min="-1"
                       type="number">
              </td>
            </tr>

            <tr class="form-inline">
              <td>
                <label class="maxChoicesLabel" for="maxChoicesPerPeriod">
                  Nombre de choix maximal pour cette phase
                </label>
              </td>
              <td>
                <input [(ngModel)]="config.maxChoices" class="form-control"
                       id="maxChoices" min="-1"
                       type="number">
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
