<div class="row">
  <div class="col-md-12">
    <div *ngIf="photoId >= 0" class="box">
      <div class="box-body text-center">
        <img [src]="'../../../../assets/marvin' + photoId + '.jpg'" alt="Marvin" style="height: 500px">
      </div>
      <div class="box-footer text-center">
        <button (click)="refresh()" class="btn btn-info">Une autre ?</button>
      </div>
    </div>
  </div>
</div>
