.date-group {
  display: flex;
  padding-bottom: 5px;

  .date-one {
    border: 0.5px solid #8d8d8d;
    padding: 4px 8px 4px 8px;
    width: fit-content;
    background-color: #d1d0d1;
  }

  :first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  :last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }


}
