<div *ngIf="years" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label for="selectedYear">Sélectionner l'année</label>
          <select (change)="refresh()" [(ngModel)]="yearId" class="form-control" id="selectedYear">
            <option *ngFor="let year of years" [value]="year.id">{{year.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<rs-info-card #card></rs-info-card>

<div *ngIf="config" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">
          Configuration
        </div>
      </div>
      <div class="box-body">
        <label for="beginDate">Date de début de l'année</label>
        <input [(ngModel)]="config.beginDate" class="form-control" id="beginDate"
               type="date">

        <label for="endDate">Date de fin de l'année</label>
        <input [(ngModel)]="config.endDate" class="form-control" id="endDate"
               type="date">
        <br>
        <div>
          <label>Jours fériés : </label>
          <div class="date-group">
            <div *ngFor="let value of config.holydays" class="date-one">
              {{value | date:'longDate'}} <i (click)="removeHolyday(value)" class="fa fa-times"></i>
            </div>
          </div>
          <div class="form-inline">
            <input #holyday
                   class="form-control" type="date">
            <button (click)="addHolyday(holyday.value)"
                    class="btn btn-success">
              Ajouter cette date
            </button>
          </div>
        </div>

        <br>
        <div>
          <label>Dates exceptions de DFASM1 : </label>
          <div class="date-group">
            <div *ngFor="let value of getExceptionsByPromotionId(2).dates" class="date-one">
              {{value | date:'longDate'}} <i (click)="removeException(2, value)" class="fa fa-times"></i>
            </div>
          </div>
          <div class="form-inline">
            <input #dfams1Date
                   class="form-control" type="date">
            <button (click)="addException(2, dfams1Date.value)"
                    class="btn btn-success">
              Ajouter cette date
            </button>
          </div>
        </div>
        <br>
        <div>
          <label>Dates exceptions de DFASM2 : </label>
          <div class="date-group">
            <div *ngFor="let value of getExceptionsByPromotionId(3).dates" class="date-one">
              {{value | date: 'longDate'}} <i (click)="removeException(3, value)" class="fa fa-times"></i>
            </div>
          </div>
          <div class="form-inline">
            <input #dfams2Date
                   class="form-control" type="date">
            <button (click)="addException(3, dfams2Date.value)"
                    class="btn btn-success">
              Ajouter cette date
            </button>
          </div>
        </div>
        <br>
        <div>
          <label>Dates exceptions de DFASM3 : </label>
          <div class="date-group">
            <div *ngFor="let value of getExceptionsByPromotionId(4).dates" class="date-one">
              {{value | date:'longDate'}} <i (click)="removeException(4, value)" class="fa fa-times"></i>
            </div>
          </div>
          <div class="form-inline">
            <input #dfams3Date
                   class="form-control" type="date">
            <button (click)="addException(4, dfams3Date.value)"
                    class="btn btn-success">
              Ajouter cette date
            </button>
          </div>
        </div>
        <br>
        <div class="text-center">
          <button (click)="updateConfig()" class="btn btn-warning">Sauvegarder</button>
        </div>
      </div>
    </div>
  </div>
</div>
