<rs-info-card #card></rs-info-card>

<div *ngIf="years && years.length > 0" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">
          Sélectionner l'année
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label class="sr-only" for="selectedYear">Sélectionner l'année</label>
          <select (change)="refresh()" [(ngModel)]="data['yearId']" class="form-control" id="selectedYear">
            <option *ngFor="let year of years" [value]="year.id">{{year.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="promotions && promotions.length > 0" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">
          Sélectionner la promotion
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label class="sr-only" for="selectedPromotion">Sélectionner la promotion</label>
          <select (change)="refresh()" [(ngModel)]="data['promotionId']" class="form-control" id="selectedPromotion">
            <option *ngFor="let promotion of promotions" [value]="promotion.id">{{promotion.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="data && data['promotionId']">
  <div class="box">
    <div class="box-header">
      Cliquez-déplacez pour changer l'ordre des phases
    </div>
    <div class="box-body">
      <table class="table table-bordered table-sm">
        <thead>
        <tr>
          <th [style.width.%]="5" scope="col">
            id
          </th>
          <th [style.width.%]="5" scope="col">
            Ordre
          </th>
          <th [style.width.%]="5" scope="col">
            Type
          </th>
          <th [style.width.%]="25" scope="col">
            Nom
          </th>
          <th [style.width.%]="20" scope="col">
            Date de début
          </th>
          <th [style.width.%]="20" scope="col">
            Date de fin
          </th>
          <th [style.width.%]="20" scope="col">
            Actions
          </th>
        </tr>
        </thead>

        <tbody #tablebody *ngIf="lines" dragula="RESULT_LINE">

        <tr *ngFor="let line of lines" [id]="'row-' + line['id']">
          <td>
            {{ line['id'] }}
          </td>
          <td>
            {{ line['order'] }}
          </td>
          <td class="text-center">
            <div [ngClass]="{
            'chip': true,
            'chip-default': line.config.type === 'group',
            'chip-warning': line.config.type === 'spreading',
            'chip-danger': line.config.type === 'terrain',
            'chip-info' : line.config.type === 'textual' }"></div>
          </td>
          <td>
            {{ line['name'] }}
          </td>
          <td>
            {{ line['beginDate'] | date : 'dd/MM/yyyy à HH:mm'}}
          </td>
          <td>
            {{ line['endDate'] | date : 'dd/MM/yyyy à HH:mm'}}
          </td>

          <td style="text-align: center; font-size: large">
            <!--EDIT--><i *ngIf="showEditBtn" [routerLink]="['/admin/distribution/phases/edit/' + line['id']]"
                          class="fa fa-pencil col-md-6"></i>
            <!--DEL--><i (click)="confirmDelete(line['id'])" *ngIf="showDelBtn" class="fa fa-trash col-md-6"></i>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showDelConfirmation" class="box">
    <div class="box-body">
      <rs-confirmation-card (output)="delElement($event)" [input]="confirmDeleteData"></rs-confirmation-card>
    </div>
  </div>

  <div *ngIf="showAddBtn" class="box">
    <div class="box-header">
      <div class="box-title">
        Créer une nouvelle phase
      </div>
    </div>
    <div class="box-body">
      <div class="col-md-6">
        <button (click)="createPhase('group')" class="form-control btn btn-default" style="margin-bottom: 10px">Groupe
        </button>
        <button (click)="createPhase('spreading')" class="form-control btn btn-warning"
                style="margin-bottom: 10px">Sélection de stage répartissant
        </button>
      </div>

      <div class="col-md-6">
        <button (click)="createPhase('terrain')" class="form-control btn btn-danger" style="margin-bottom: 10px">
          Sélection de stage
        </button>
        <button (click)="createPhase('textual')" class="form-control btn btn-info" style="margin-bottom: 10px">Texte
        </button>
      </div>
    </div>
  </div>

</div>

