.chip {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: grey 1px solid;
}

.chip-default {
  background-color: #f4f4f4;
}

.chip-warning {
  background-color: #f39c12;
}

.chip-danger {
  background-color: #dd4b39;
}

.chip-info {
  background-color: #00c0ef;
}
