.first-row {

}

.first-row .box {
  background-color: rgb(255, 166, 107);
}

.first-col .box {
  background-color: rgb(105, 198, 187);
  font-weight: bold;
  margin-bottom: 5px;
}

.inner-table-box {
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #e7e6df;
}

.normal-box {
  border-color: green;
}

.selected-box {
  background-color: #a4c5ff;
}

.non-prioritary-box .box {
  background-color: #eda457;
}

.empty-box {
  background-color: Transparent;
}

.box-component {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
}

