<div *ngIf="years" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label for="selectedYear">Sélectionner l'année</label>
          <select (change)="refresh()" [(ngModel)]="yearId" class="form-control" id="selectedYear">
            <option *ngFor="let year of years" [value]="year.id">{{year.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="promotions" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label for="selectedPromotion">Sélectionner la promotion</label>
          <select (change)="refresh()" [(ngModel)]="promotionId" class="form-control" id="selectedPromotion">
            <option *ngFor="let promotion of promotions" [value]="promotion.id">{{promotion.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<rs-info-card #card></rs-info-card>

<div *ngIf="yearId && promotionId">

  <div *ngIf="periods else loading">
    <div class="row first-row">
      <div class="col-xs-12">
        <div class="col-xs-2" style="width: 15%">
          <button (click)="save()" class="btn btn-success" style="width: 100%; height: 100%"> Sauvegarder</button>
        </div>
        <div class="col-xs-10" style="width: 85%">
          <div *ngFor="let period of periods" [style.width.%]="(100 / periods.length)" class="col-xs-1">
            <div class="box">
              <div class="box-body text-center">
                {{ period.beginDate | date:'dd/MM' }} au {{period.endDate | date:'dd/MM'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="dataCalculated === true">
      <div *ngFor="let entry of data | keyvalue: sorter(terrainTypes)" class="row" style="margin-bottom: 1px">
        <div class="col-xs-12">

          <!-- ROW TITLE -->
          <div class="col-xs-2 first-col" style="width: 15%">
            <div class="box first-col-box">
              <div class="box-body text-center">
                {{ getTerrainType(entry.key).name }} <i (click)="removeTerrainType(entry.key)" class="fa fa-trash"></i>
              </div>
            </div>
          </div>
          <!-- END ROW TITLE -->

          <!-- PLACE AMOUNT -->
          <div class="col-xs-10" style="width: 85%">
            <div *ngFor="let period of periods" [style.width.%]="100 / periods.length"
                 class="col-xs-1">

              <div class="box inner-table-box empty-box">
                <div class="box-body text-center">
                  <button (click)="lessOne(entry.key, period.id)" class="btn col-xs-4 box-component">
                    -
                  </button>
                  <div class="col-xs-4 box-component" style="padding-top: 8px">
                    {{ entry.value.get(period.id).maxAmountPlaces }}
                  </div>
                  <button (click)="plusOne(entry.key, period.id)" class="btn col-xs-4 box-component">
                    +
                  </button>
                </div>
              </div>

            </div>
          </div>
          <!-- END PLACE AMOUNT -->

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div *ngIf="addableTerrainTypes else addableTerrainTypesLoading" class="box-body">
            <div class="form-group">
              <label class="col-xs-12" for="selectedPromotion">Ajouter un service</label>
              <div class="col-xs-10">
                <select #addTerrainTypes [disabled]="addableTerrainTypes.length === 0" class="form-control">
                  <option *ngFor="let terrainType of addableTerrainTypes" [value]="terrainType.id">
                    {{ terrainType.name }}
                  </option>
                </select>
              </div>
              <div class="col-xs-2">
                <button (click)="addTerrainType(addTerrainTypes.value)" [disabled]="addableTerrainTypes.length === 0"
                        class="btn btn-success" style="width: 100%">
                  Ajouter
                </button>
              </div>
            </div>
          </div>
          <ng-template #addableTerrainTypesLoading>
            <rs-loading></rs-loading>
          </ng-template>
        </div>
      </div>
    </div>

  </div>

  <ng-template #loading>
    <rs-loading></rs-loading>
  </ng-template>

</div>
