<div *ngIf="promotions" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label for="selectedPromotion">Sélectionner la promotion</label>
          <select (change)="refresh()" [(ngModel)]="promotionId" class="form-control" id="selectedPromotion">
            <option *ngFor="let promotion of promotions" [value]="promotion.id">{{promotion.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<rs-info-card #card></rs-info-card>

<div *ngIf="promotionId" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr>
            <th scope="col" style="width: 15%">
              <button (click)="switchSelectAll()"
                      [ngClass]="{
                      'btn-danger': !switchSelectAllBtn,
                      'btn-success': switchSelectAllBtn
                      }"
                      class="btn">{{ switchSelectAllBtn === true ? 'Tout sélectionner' : 'Tout déselectionner'}}</button>
            </th>
            <th scope="col">
              Nom
            </th>
            <th scope="col">
              Redoublant
            </th>
            <th scope="col">
              Groupe
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>
              <input (change)="switchSelection(user.id)" [checked]="this.selectedIds.indexOf(user.id) !== -1"
                     type="checkbox">
            </td>
            <td>
              {{ user.lastName.toUpperCase() + ' ' + user.firstName}}
            </td>
            <td>
              {{ user.redoubling ? 'Oui' : 'Non' }}
            </td>
            <td [ngSwitch]="user.group">
              <span *ngSwitchCase="1">Aucun</span>
              <span *ngSwitchCase="2">A</span>
              <span *ngSwitchCase="3">B</span>
              <span *ngSwitchCase="4">Les deux</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <div class="col-sm-12 text-center" style="margin-bottom: 10px">
          <button (click)="markAsRedoubling()" class="btn btn-warning" style="width: 30%; margin-right: 10px;">Marquer
            comme redoublant
          </button>
          <button (click)="markAsNotRedoubling()" class="btn btn-danger" style="width: 30%; margin-left: 10px;">Marquer
            comme non redoublant
          </button>
        </div>

        <br>

        <div class="col-sm-12 text-center">
          <div class="form-inline">
            <select [(ngModel)]="promotionIdForNotRedoubling" class="form-control">
              <option *ngFor="let promotion of promotions" [value]="promotion.id">
                {{promotion.name}}
              </option>
            </select>
            <button (click)="switchNotRedoublingToSelectedPromotion()" class="btn btn-success">
              Passer les non-redoublants à la promotion sélectionnée
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
