<div *ngIf="years" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label for="selectedYear">Sélectionner l'année</label>
          <select [(ngModel)]="yearId" class="form-control" id="selectedYear">
            <option *ngFor="let year of years" [value]="year.id">{{year.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<rs-info-card #card></rs-info-card>

<div *ngIf="yearId" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body text-center">
        <div class="col-xs-6">
          <button (click)="genPlanning()" class="btn btn-info">Générer le planning</button>
        </div>
        <div class="col-xs-6">
          <button (click)="downloadPlanning()" class="btn btn-success">Télécharger le planning</button>
        </div>
      </div>
    </div>
  </div>
</div>
