<div *ngIf="promotions" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label for="selectedPromotion">Sélectionner la promotion</label>
          <select [(ngModel)]="promotionId" class="form-control" id="selectedPromotion">
            <option *ngFor="let promotion of promotions" [value]="promotion.id">{{promotion.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<rs-info-card #card></rs-info-card>

<div *ngIf="promotionId" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body text-center">
        <div class="col-xs-12">
          <button (click)="downloadMailing()" class="btn btn-success">Télécharger le mailing</button>
        </div>
      </div>
    </div>
  </div>
</div>
