<rs-info-card #card></rs-info-card>

<div *ngIf="allUsers" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">Rechercher un utilisateur</div>
      </div>
      <div class="box-body">
        <div class="form-inline">
          <ng-select [(ngModel)]="selectedUserId" [notFoundText]="'Introuvable'" class="col-md-10">
            <ng-option *ngFor="let user of allUsers"
                       [value]="user.id">{{ user.firstName + " " + user.lastName.toUpperCase()}}</ng-option>
          </ng-select>

          <button (click)="showGardes()" class="col-md-2 btn btn-success">Afficher les gardes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="selectedUserId">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="gardes" class="box">
        <div class="box-header">
          <div class="box-title">
            Gardes
          </div>
        </div>
        <div class="box-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col" style="width: 10%;">id</th>
              <th scope="col" style="width: 35%;">Terrain</th>
              <th scope="col" style="width: 35%;">Date</th>
              <th scope="col" style="width: 20%;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let garde of gardes">
              <td>{{garde.id}}</td>
              <td>{{garde.terrainName}}</td>
              <td>{{garde.date | date: 'longDate'}}</td>
              <td>
                <button (click)="removeUserFromGarde(garde.id)" class="btn btn-danger">Supprimer</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="freeGardes" class="col-md-12">
      <div class="box">
        <div class="box-header">
          <div class="box-title">
            Ajouter une garde à cette personne
          </div>
        </div>
        <div class="box-body">
          <div class="form-inline">
            <select [(ngModel)]="selectedGardeId" class="form-control col-md-10">
              <option [value]="0">Aucune</option>
              <option *ngFor="let garde of freeGardes"
                      [value]="garde.id">{{ garde.terrainName + ' le ' + (garde.date | date: 'longDate') }}</option>
            </select>
            <button (click)="addUserToGarde()" class="btn btn-success col-md-2">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
