.box {
  .box-header {
    font-size: 20px;
  }
}

.underline {
  text-decoration: underline;
}

.stage-name {
  font-weight: bold;
}

table {
  tbody {

    font-size: 17px;

    .accepted {
      background-color: #abff99;
    }

    .waiting {
      background-color: #ffe45e;
    }

    .not-priority {
      background-color: #ff8ca1;
    }

    .padding-top {
      padding-top: 5px;
    }
  }
}
