<rs-info-card #card></rs-info-card>

<div *ngIf="allUsers" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">Rechercher un utilisateur</div>
      </div>
      <div class="box-body">
        <div class="form-inline">
          <ng-select [(ngModel)]="selectedUserId" [notFoundText]="'Introuvable'" class="col-md-10">
            <ng-option *ngFor="let user of allUsers"
                       [value]="user.id">{{ user.firstName + " " + user.lastName.toUpperCase()}}</ng-option>
          </ng-select>

          <button (click)="showInfos()" class="col-md-2 btn btn-success">Afficher les stages</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div *ngFor="let row of content" class="box">
      <div class="box-header">
        <span class="underline">{{row.year.name}}</span> : {{ row.promotion.name }}
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">
              Etat
            </th>
            <th scope="col">
              Période
            </th>
            <th scope="col">
              Terrain de stage
            </th>
            <th scope="col">
              Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let terrain of row.terrains"
              [ngClass]="{
            'stage': true,
            'not-priority': terrain.state === TerrainAttributionState.NOT_PRIORITY,
            'waiting': terrain.state === TerrainAttributionState.WAITING,
            'accepted': terrain.state === TerrainAttributionState.ACCEPTED
            }">

            <td [ngSwitch]="terrain.state" class="text-center text-bold text-uppercase">
              <div *ngSwitchCase="TerrainAttributionState.NOT_PRIORITY" class="padding-top">
                Non prioritaire
              </div>
              <div *ngSwitchCase="TerrainAttributionState.WAITING" class="padding-top">
                En attente
              </div>
              <div *ngSwitchCase="TerrainAttributionState.ACCEPTED" class="padding-top">
                Validé
              </div>
              <div *ngSwitchDefault class="padding-top">
                Inconnu
              </div>
            </td>

            <td class="text-center">
              <div class="padding-top">
                {{terrain.beginDate | date:'dd/MM/yy' }} au {{terrain.endDate | date:'dd/MM/yy'}}
              </div>

            </td>
            <td class="text-center">
              <div class="stage-name padding-top">{{ terrain.name }}</div>
            </td>

            <td class="text-center">
              <button (click)="deleteAttribution(terrain.id)" class="btn btn-danger">Supprimer</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
