<div *ngIf="pageNames" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label for="selectedName">Sélectionner la page à modifier</label>
          <select (change)="refresh()" [(ngModel)]="selectedName" class="form-control" id="selectedName">
            <option *ngFor="let pageName of pageNames" [value]="pageName.name">{{ pageName.name }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <app-ngx-editor [(ngModel)]="htmlContent" [placeholder]="'Ecrire ici...'"
                        [minHeight]="30" [spellcheck]="true"></app-ngx-editor>
        <div class="col-md-12 text-center">
          <input (click)="updatePageContent()" class="btn btn-success" type="button" value="Sauvegarder">
        </div>
        <div class="box-footer">
          <rs-info-card #card></rs-info-card>
        </div>
      </div>
    </div>
  </div>
</div>

