<div class="box">
  <div class="box-header">
    <div class="box-title">{{ exchanges.length > 0 ? "Liste des échanges proposés" : "Pas d'échange proposé"}}</div>
  </div>


  <div *ngIf="exchanges.length > 0" class="exchange-list">

    <div *ngFor="let exchange of exchanges" class="exchange-box">
      <div class="vendor-name">{{exchange.vendorName}}</div>

      <div class="gardes-box">
        <div class="vendor-garde">
          <div class="vendor-garde-title">
            Garde proposée :
          </div>
          <div class="vendor-garde-terrain">
            {{exchange.vendorGardeName}}
          </div>
          <div class="vendor-garde-date">
            {{exchange.vendorGardeDate}}
          </div>
        </div>

        <div class="arrow">
          <fa-icon [icon]="['fas', 'fa-arrows-alt-h']"></fa-icon>
        </div>

        <div class="target-garde">
          <div class="target-garde-title">
            En échange de :
          </div>
          <div class="target-garde-terrain">
            {{exchange.targetGardeName}}
          </div>
          <div class="target-garde-date">
            {{exchange.targetGardeDate}}
          </div>
        </div>
      </div>

      <div class="response-box">
        <button class="btn btn-info">Accepter</button>
        <button class="btn btn-warning">Refuser</button>
      </div>

    </div>
  </div>
</div>

<div class="box">
  <div class="box-header">
    <div class="box-title">
      Proposer une garde
    </div>
  </div>

  <div class="box-body">
    lelele
  </div>
</div>



