$border-color: #6e6e6e;

table {
  border-color: $border-color;
  font-size: 12px;

  tr {

    th {
      border-color: $border-color;
      background-color: #ffffff;
      text-align: center;
      vertical-align: middle;
    }

    td {
      border-color: $border-color;
      background-color: #ffffff;
      text-align: center;
      vertical-align: middle;
    }

    .self-attrib-cell {
      font-weight: bold;
      color: #ff8480;
    }

    & > :nth-last-child(2) {
      background-color: #CBFCFD;
    }

    .holydays-cell {
      background-color: #90b67d;
    }

    & > :nth-last-child(1) {
      background-color: #90b67d;
    }

    .terrain-name-cell {
      background-color: #e3e3e3;
      cursor: pointer;

      .terrain-name-cell-title {
        font-weight: bold;
        background-color: #e3e3e3;
      }

      .terrain-name-cell-body {
        font-weight: normal;
        background-color: #e3e3e3;
      }

    }

  }
}
