<rs-info-card #card></rs-info-card>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header text-center">
        <button (click)="previousWeek()" class="btn btn-success">Précédent</button>
        <button (click)="nextWeek()" class="btn btn-success">Suivant</button>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-hover" style="width: 100%">
          <thead>
          <tr>
            <th rowspan="2" scope="col" style="width: 16%">Terrains</th>
            <th [ngClass]="{'holydays-cell': isHolyday(0)}" scope="col" style="width: 12%">Lundi</th>
            <th [ngClass]="{'holydays-cell': isHolyday(1)}" scope="col" style="width: 12%">Mardi</th>
            <th [ngClass]="{'holydays-cell': isHolyday(2)}" scope="col" style="width: 12%">Mercredi</th>
            <th [ngClass]="{'holydays-cell': isHolyday(3)}" scope="col" style="width: 12%">Jeudi</th>
            <th [ngClass]="{'holydays-cell': isHolyday(4)}" scope="col" style="width: 12%">Vendredi</th>
            <th [ngClass]="{'holydays-cell': isHolyday(5)}" scope="col" style="width: 12%">Samedi</th>
            <th [ngClass]="{'holydays-cell': isHolyday(6)}" scope="col" style="width: 12%">Dimanche</th>
          </tr>
          <tr>
            <td *ngFor="let date of dates" [ngClass]="{'holydays-cell': isHolyday(dates.indexOf(date))}"
                class="text-center">
              {{date | date: 'longDate' }}
            </td>
          </tr>
          </thead>

          <tbody *ngIf="(gardes && gardes.length > 0) else noGardeForThisWeek">
          <tr *ngFor="let row of table.rows">

            <th (click)="row.terrain.collapsed = !row.terrain.collapsed"
                [attr.aria-controls]="'collapse-header-cell-' + row.terrain.id"
                [attr.aria-expanded]="!row.terrain.collapsed"
                class="terrain-name-cell text-center"
                scope="row">
              <div class="terrain-name-cell-title">
                {{ row.terrain.name }}
                <i class="fa fa-info-circle" style="font-size: 10px"></i>
              </div>

              <div [collapse]="row.terrain.collapsed"
                   [id]="'collapse-header-cell-' + row.terrain.id"
                   class="terrain-name-cell-body">
                <div>
                  {{ row.terrain.night ? 'Nuit complète' : '' }}
                </div>
                <div>
                  {{ row.terrain.description }}
                </div>
              </div>

            </th>

            <td *ngFor="let garde of row.attribs"
                [ngClass]="{
                'self-attrib-cell': (selfUserId === garde.userId),
                'holydays-cell': isHolyday(garde.date)
                }"
                class="text-center">
              {{ garde.userFirstName + ' ' + garde.userLastName }}
            </td>
          </tr>
          </tbody>

          <ng-template #noGardeForThisWeek>
            <tbody>
            <tr>
              <td class="text-center" colspan="8">
                Les gardes pour cette période n'ont pas encore été générées.
              </td>
            </tr>
            </tbody>
          </ng-template>

        </table>


      </div>
    </div>
  </div>
</div>
