<rs-info-card #card></rs-info-card>

<div *ngIf="years" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label for="selectedPromotion">Sélectionner l'année</label>
          <select (change)="refresh()" [(ngModel)]="data['yearId']" class="form-control" id="selectedYear">
            <option *ngFor="let year of years" [value]="year.id">{{year.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="promotions" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label for="selectedPromotion">Sélectionner la promotion</label>
          <select (change)="refresh()" [(ngModel)]="data['promotionId']" class="form-control" id="selectedPromotion">
            <option *ngFor="let promotion of promotions" [value]="promotion.id">{{promotion.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="data && data['promotionId'] && data['yearId']">
  <rs-ordered-editable-table #periodList
                             [add]="add" [columns]="columns"
                             [data]="data"
                             [del]="del"
                             [edit]="edit"
                             [get]="get"
                             [min]="0"
                             [pas]="0"
  >
  </rs-ordered-editable-table>
</div>

