<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/']"> <i></i><img alt="logo" height="57" src="../../../../assets/dinosaure2.png" width="50">
      <b>Tirajosaure</b></a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Connexion</p>

    <rs-info-card #card></rs-info-card>

    <form #form="ngForm" (ngSubmit)="login()">
      <div class="form-group has-feedback">
        <label class="sr-only" for="email">Email</label>
        <input #email="ngModel" [(ngModel)]="user.email" [class.border-danger]="email.invalid && email.touched"
               class="form-control"
               id="email" name="email" pattern=".+@.+..+" placeholder="Email"
               required type="text">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="email.invalid && email.touched && email.errors?.required"
                 class="form-text text-danger">
            Un email est requis.
          </small>
          <small *ngIf="email.invalid && email.touched && email.errors?.pattern"
                 class="form-text text-danger">
            L'adresse mail doit être valide.
          </small>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="sr-only" for="password">Mot de passe</label>
        <input #password="ngModel" [(ngModel)]="user.password"
               [class.form-control-danger]="password.invalid && password.touched" [maxlength]="'100'"
               [minlength]="'6'" class="form-control"
               id="password" name="password" placeholder="Mot de passe"
               required
               type="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="password.invalid && password.touched && password.errors?.required"
                 class="form-text text-danger">
            Un mot de passe est requis.
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8" style="text-align: center">
          <div class="checkbox icheck">
            <input [(ngModel)]="user.rememberMe" id="rememberMe" name="rememberMe" type="checkbox"> <label
            for="rememberMe">Se souvenir de moi</label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button [class.btn-pulse]="submitted"
                  [disabled]="submitted || !form.valid"
                  class="btn btn-primary btn-block btn-flat"
                  type="submit">Connexion
          </button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a [routerLink]="['/auth/request-password']">Mot de passe oublié</a><br>
    <a [routerLink]="['/', 'auth', 'register']" class="text-center">Inscription</a>
  </div>
</div>
</body>
