<rs-info-card #card></rs-info-card>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">

        <label for="yearSelect">Sélectionner l'année</label>
        <select *ngIf="years" [(ngModel)]="query['yearId']"
                class="form-control"
                id="yearSelect">
          <option *ngFor="let year of years" [value]="year.id"> {{year.name}}</option>
        </select>

        <br>

        <button (click)="getExportation()" class="btn btn-success">Exporter</button>

      </div>
    </div>
  </div>
</div>
