<div class="row">
  <div class="col-md-12">

    <rs-info-card #card></rs-info-card>

    <div class="box">
      <div class="box-header">
        <div class="box-title">Liste des types de terrains de stage</div>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th [style.width.%]="5" scope="col">
              id
            </th>
            <th [style.width.%]="20" scope="col">
              Nom
            </th>
            <th [style.width.%]="25" scope="col">
              Description
            </th>
            <th [style.width.%]="10" scope="col">
              Location
            </th>
            <th [style.width.%]="10" scope="col">
              Nb max de choix
            </th>
            <th [style.width.%]="10" scope="col">
              Nb max de stage
            </th>
            <th [style.width.%]="10" scope="col">
              Nb max de stage par an
            </th>
            <th [style.width.%]="10" scope="col">
              Actions
            </th>
          </tr>
          </thead>
          <tbody>

          <!-- LIST + EDIT ROW -->
          <tr *ngFor="let terrainType of terrainTypes">
            <td>{{ terrainType.id }}</td>
            <td>{{ terrainType.name }}</td>
            <td>{{ terrainType.desc }}</td>
            <td>{{ getLocationName(terrainType.locationId) }}</td>
            <td>{{ terrainType.maxChoices }}</td>
            <td>{{ terrainType.maxAttributions }}</td>
            <td>{{ terrainType.maxAttributionsPerYear }}</td>
            <td style="text-align: center; font-size: large">
              <i (click)="editTerrainType(terrainType)" *ngIf="showEditBtn" class="fa fa-pencil col-md-6"></i>
              <i (click)="confirmDelete(terrainType.id)" *ngIf="showDeleteBtn" class="fa fa-trash col-md-6"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">

      </div>
    </div>
  </div>
</div>

<div *ngIf="showDelConfirmation" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <rs-confirmation-card (output)="delElement($event)"
                              [input]="confirmDeleteData"></rs-confirmation-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showAddForm" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">Ajouter</div>
      </div>
      <div class="box-body form-group">
        <div class="col-md-6">
          <label class="" for="name">Nom</label>
          <input [(ngModel)]="changedTerrainType['name']" class="form-control" id="name" placeholder="Nom" type="text">
          <br>

          <label class="" for="desc">Description</label>
          <textarea [(ngModel)]="changedTerrainType['desc']" class="form-control" cols="40" id="desc"
                    placeholder="Description"
                    rows="5"></textarea>
          <br>

          <label class="" for="location">Localisation</label>
          <select [(ngModel)]="changedTerrainType['locationId']" class="form-control" id="location">
            <option *ngFor="let location of locations" [value]="location.id"> {{location.name}} : {{location.distance}}
              km
            </option>
          </select>

          <br>

          <label class="" for="respFirstName">Prénom du responsable</label>
          <input [(ngModel)]="changedTerrainType['respFirstName']" class="form-control" id="respFirstName"
                 placeholder="Prénom du responsable" type="text">
          <br>

          <label class="" for="respLastName">Nom du responsable</label>
          <input [(ngModel)]="changedTerrainType['respLastName']" class="form-control" id="respLastName"
                 placeholder="Nom du responsable" type="text">
          <br>

          <label class="" for="respMail">Mail du responsable</label>
          <input [(ngModel)]="changedTerrainType['respMail']" class="form-control" id="respMail"
                 placeholder="Mail du responsable" type="text">
          <br>
        </div>

        <div class="col-md-6">
          <label class="" for="categories">Catégories</label>
          <select [(ngModel)]="changedTerrainType['categoriesIds']" class="form-control custom-select"
                  id="categories" multiple>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <br>

          <label for="maxChoices">Nb max de choix</label>
          <input [(ngModel)]="changedTerrainType['maxChoices']" class="form-control"
                 id="maxChoices" min="-1"
                 type="number">
          <br>

          <label for="maxAttributions">Nb max de stage</label>
          <input [(ngModel)]="changedTerrainType['maxAttributions']" class="form-control"
                 id="maxAttributions" min="-1"
                 type="number">
          <br>

          <label for="maxAttributionsPerYear">Nb max de stage par an</label>
          <input [(ngModel)]="changedTerrainType['maxAttributionsPerYear']" class="form-control"
                 id="maxAttributionsPerYear" min="-1"
                 type="number">
          <br>

        </div>
        <div class="col-md-12">
          <div class="text-center">
            <button (click)="addNewTerrainType()" [disabled]="submit" class="btn btn-success">Sauvegarder</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showEditForm" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">Modifier</div>
      </div>
      <div class="box-body form-group">
        <div class="col-md-6">
          <label class="" for="editname">Nom</label>
          <input [(ngModel)]="changedTerrainType['name']" class="form-control" id="editname" placeholder="Nom"
                 type="text">
          <br>

          <label class="" for="editdesc">Description</label>
          <textarea [(ngModel)]="changedTerrainType['desc']" class="form-control" cols="40" id="editdesc"
                    placeholder="Description"
                    rows="5"></textarea>
          <br>

          <label class="" for="editlocation">Localisation</label>
          <select [(ngModel)]="changedTerrainType['locationId']" class="form-control" id="editlocation">
            <option *ngFor="let location of locations" [value]="location.id"> {{location.name}} : {{location.distance}}
              km
            </option>
          </select>
          <br>

          <label class="" for="editRespFirstName">Prénom du responsable</label>
          <input [(ngModel)]="changedTerrainType['respFirstName']" class="form-control" id="editRespFirstName"
                 placeholder="Prénom du responsable" type="text">
          <br>

          <label class="" for="editRespLastName">Nom du responsable</label>
          <input [(ngModel)]="changedTerrainType['respLastName']" class="form-control" id="editRespLastName"
                 placeholder="Nom du responsable" type="text">
          <br>

          <label class="" for="editRespMail">Mail du responsable</label>
          <input [(ngModel)]="changedTerrainType['respMail']" class="form-control" id="editRespMail"
                 placeholder="Mail du responsable" type="text">
          <br>

        </div>
        <div class="col-md-6">
          <label class="" for="editcategories">Catégories</label>
          <select [(ngModel)]="changedTerrainType['categoriesIds']" class="form-control custom-select"
                  id="editcategories" multiple>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <br>

          <label for="editMaxChoices">Nb max de choix</label>
          <input [(ngModel)]="changedTerrainType['maxChoices']" class="form-control"
                 id="editMaxChoices" min="-1"
                 type="number">
          <br>

          <label for="editMaxAttributions">Nb max de stage</label>
          <input [(ngModel)]="changedTerrainType['maxAttributions']" class="form-control"
                 id="editMaxAttributions" min="-1"
                 type="number">
          <br>

          <label for="editMaxAttributionsPerYear">Nb max de stage par an</label>
          <input [(ngModel)]="changedTerrainType['maxAttributionsPerYear']" class="form-control"
                 id="editMaxAttributionsPerYear" min="-1"
                 type="number">
          <br>

        </div>

        <div class="col-md-12">
          <div class="text-center">
            <button (click)="saveEditedTerrainType()" [disabled]="submit" class="btn btn-success">Sauvegarder</button>
            <button (click)="cancelEdition()" [disabled]="submit" class="btn btn-danger">Annuler</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

