<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div *ngIf="phase && phase.config && phase.config.htmlContent"
             [innerHTML]="phase.config.htmlContent | safeHtml"></div>
      </div>
    </div>
  </div>
</div>

