<mk-tabs [activeTabIndex]="2">
  <mk-tabs-header>Administration</mk-tabs-header>

  <mk-tab>
    <mk-tab-header>
      Planning de garde
    </mk-tab-header>
    <mk-tab-content>
      <input [routerLink]="['/admin/gardes/terrain-list']" class="btn btn-success col-auto mx-auto"
             type="button"
             value="Liste des terrains de garde">
      <input [routerLink]="['/admin/gardes/config']" class="btn btn-success col-auto mx-auto"
             type="button"
             value="Configurer une année">

      <input [routerLink]="['/admin/gardes/export']" class="btn btn-success col-auto mx-auto"
             type="button"
             value="Exporter en PDF">

      <input [routerLink]="['/admin/gardes/garde-per-user']" class="btn btn-success col-auto mx-auto"
             type="button"
             value="Gardes par utilisateur">
    </mk-tab-content>
  </mk-tab>

  <mk-tab>
    <mk-tab-header>Répartition</mk-tab-header>
    <mk-tab-content>

      <div class="box inner-box">
        <div class="box-header">Général</div>
        <div class="box-body">
          <input [routerLink]="['/admin/distribution/years']" class="btn btn-success col-auto" type="button"
                 value="Année">

          <input [routerLink]="['/admin/distribution/promotions']" class="btn btn-success col-auto" type="button"
                 value="Promotion">

          <input [routerLink]="['/admin/distribution/categories']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Catégorie">
          <input [routerLink]="['/admin/distribution/locations']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Localisation">

          <input [routerLink]="['/admin/distribution/terraintypes']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Types de terrain de stages">
        </div>
      </div>
      <div class="box inner-box">
        <div class="box-header">En fonction de l'année et de la promotion</div>
        <div class="box-body">
          <input [routerLink]="['/admin/distribution/periods']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Périodes de stages">

          <input [routerLink]="['/admin/distribution/terrains']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Terrains de stages">

          <input [routerLink]="['/admin/distribution/phases']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Phases de répartition">
        </div>
      </div>

      <div class="box inner-box">
        <div class="box-header">Gestion courante de la répartition</div>
        <div class="box-body">
          <input [routerLink]="['/admin/distribution/manage']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Gérer la répartition">

          <input [routerLink]="['/admin/distribution/pdf-export']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Exporter en PDF">
          <input [routerLink]="['/admin/distribution/csv-export']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Exporter en CSV">

          <input [routerLink]="['/admin/distribution/attributions-per-user']" class="btn btn-success col-auto mx-auto"
                 type="button"
                 value="Stages par utilisateur">

        </div>
      </div>
    </mk-tab-content>
  </mk-tab>

  <mk-tab>
    <mk-tab-header>Général</mk-tab-header>
    <mk-tab-content>

      <div class="row">
        <div class="col-xs-6">
          <input [routerLink]="['/admin/page_content']" class="btn btn-success" style="width: 100%"
                 type="button"
                 value="Contenu des pages">
        </div>
        <div class="col-xs-6">
          <input [routerLink]="['/admin/users/list']" class="btn btn-success" style="width: 100%"
                 type="button"
                 value="Gestion des utilisateurs">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <input [routerLink]="['/admin/contact']" class="btn btn-success" style="width: 100%"
                 type="button"
                 value="Contacts">
        </div>
        <div class="col-xs-6">
          <input [routerLink]="['/admin/users/promotion-switcher']" class="btn btn-success" style="width: 100%"
                 type="button"
                 value="Changements de promotions">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <input [routerLink]="['/admin/document']" class="btn btn-success" style="width: 100%"
                 type="button"
                 value="Documents">
        </div>
        <div class="col-xs-6">
          <input [routerLink]="['/admin/mailing']" class="btn btn-success" style="width: 100%"
                 type="button"
                 value="Mailings">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <input [routerLink]="['/admin/logs']" class="btn btn-success" style="width: 100%"
                 type="button"
                 value="Logs">
        </div>
      </div>
    </mk-tab-content>
  </mk-tab>

</mk-tabs>
