<body class="hold-transition register-page">

<div class="register-box">
  <div class="register-logo">
    <a [routerLink]="['/']"> <i></i><img height="57" src="../../../../assets/dinosaure2.png" width="50">
      <b>Tirajosaure</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Inscription</p>

    <rs-info-card #card></rs-info-card>

    <form #form="ngForm" (ngSubmit)="register()" *ngIf="promotions" autocomplete="off">
      <!-- Prénom -->
      <div class="form-group has-feedback">
        <label class="sr-only" for="firstName">Prénom</label>
        <input #firstName="ngModel" [(ngModel)]="user.firstName"
               [class.border-danger]="firstName.invalid && firstName.touched" class="form-control"
               id="firstName" name="firstName" placeholder="Prénom"
               required type="text">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="firstName.invalid && firstName.touched && firstName.errors?.required"
                 class="form-text text-danger">
            Un prénom est requis.
          </small>
        </div>
      </div>

      <!-- Nom de famille -->
      <div class="form-group has-feedback">
        <label class="sr-only" for="lastName">Nom de famille</label>
        <input #lastName="ngModel" [(ngModel)]="user.lastName"
               [class.border-danger]="lastName.invalid && lastName.touched" class="form-control"
               id="lastName" name="lastName" placeholder="Nom de famille"
               required type="text">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="lastName.invalid && lastName.touched && lastName.errors?.required"
                 class="form-text text-danger">
            Un nom de famille est requis.
          </small>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group has-feedback">
        <label class="sr-only" for="email">Email</label>
        <input #email="ngModel" [(ngModel)]="user.email" [class.border-danger]="email.invalid && email.touched"
               class="form-control"
               id="email" name="email" pattern=".+@.+..+" placeholder="Email"
               required type="text">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="email.invalid && email.touched && email.errors?.required"
                 class="form-text text-danger">
            Un email est requis.
          </small>
          <small *ngIf="email.invalid && email.touched && email.errors?.pattern"
                 class="form-text text-danger">
            L'adresse mail doit être valide.
          </small>
        </div>
      </div>

      <!-- Numéro étudiant-->
      <div class="form-group has-feedback">
        <label class="sr-only" for="studentNumber">Numéro étudiant</label>
        <input #studentNumber="ngModel" [(ngModel)]="user.studentNumber"
               [class.border-danger]="studentNumber.invalid && studentNumber.touched" class="form-control"
               id="studentNumber" maxlength="8" minlength="8" name="studentNumber" placeholder="Numéro étudiant"
               required type="number">
        <span class="fa fa-graduation-cap form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="studentNumber.invalid && studentNumber.touched && studentNumber.errors?.required"
                 class="form-text text-danger">
            Un numéro étudiant est requis.
          </small>
        </div>
      </div>

      <!-- Téléphone -->
      <div class="form-group has-feedback">
        <label class="sr-only" for="phone">Téléphone</label>
        <input #phone="ngModel" [(ngModel)]="user.phone" [class.border-danger]="phone.invalid && phone.touched"
               class="form-control"
               id="phone" name="phone" pattern="^(0[6,7])([0-9]{8})$"
               placeholder="Téléphone" required type="text">
        <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="phone.invalid && phone.touched && phone.errors?.required"
                 class="form-text text-danger">
            Un numéro de téléphone est requis.
          </small>
          <small
            *ngIf="phone.invalid && phone.touched && phone.errors?.pattern"
            class="form-text text-danger">
            Le numéro de téléphone est invalide.
          </small>
        </div>
      </div>

      <!-- Promotion -->
      <div class="form-group has-feedback">
        <label class="sr-only" for="promotion">Promotion pour l'année 2019-2020</label>

        <select #promotion="ngModel"
                [(ngModel)]="user.promotion"
                [disabled]="!promotion || promotions.length == 0"
                [class.border-danger]="promotion.invalid && promotion.touched"
                class="form-control"
                id="promotion" name="promotion"
                required>
          <option [value]="undefined" disabled selected>Promotion</option>
          <option *ngFor="let promo of promotions" [value]="promo.id">{{promo.name}}</option>
        </select>

        <div class="input-group mb-3">
          <small *ngIf="promotion.invalid && promotion.touched && promotion.errors?.required"
                 class="form-text text-danger">
            Une promotion est requise.
          </small>
        </div>
      </div>

      <!-- Mot de passe -->
      <div class="form-group has-feedback">
        <label class="sr-only" for="password">Mot de passe</label>
        <input #password="ngModel" [(ngModel)]="user.password"
               [class.form-control-danger]="password.invalid && password.touched" [maxLength]="100"
               [minLength]="6" class="form-control"
               id="password" name="password" placeholder="Mot de passe"
               required
               type="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="password.invalid && password.touched && password.errors?.required"
                 class="form-text text-danger">
            Un mot de passe est requis.
          </small>
          <small
            *ngIf="password.invalid && password.touched && (password.errors?.minlength || user.password?.length > 10)"
            class="form-text text-danger">
            Le mot de passe doit contenir entre 6 et 100 caractères.
          </small>
        </div>
      </div>

      <div class="form-group has-feedback">
        <label class="sr-only" for="confirmPassword">Confirmation du mot de passe</label>
        <input #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword"
               [class.form-control-danger]="(confirmPassword.invalid || password.value != confirmPassword.value) && confirmPassword.touched"
               class="form-control"
               id="confirmPassword" name="confirmPassword" placeholder="Confirm. Mot de passe"
               required
               type="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="confirmPassword.invalid && confirmPassword.touched && confirmPassword.errors?.required"
                 class="form-text text-danger">
            Un mot de passe de confirmation est requis!
          </small>
          <small
            *ngIf="confirmPassword.touched && password.value != confirmPassword.value && !confirmPassword.errors?.required"
            class="form-text text-danger">
            Les deux mots de passe ne concordent pas.
          </small>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button [class.btn-pulse]="submitted"
                  [disabled]="submitted || !form.valid"
                  class="btn btn-primary btn-block btn-flat"
                  type="submit">S'enregistrer
          </button>
        </div>
      </div>
    </form>
    <br>
    <a [routerLink]="['/', 'auth', 'login']" class="text-center">Déjà inscrit ? </a>
  </div>
</div>

</body>
