<rs-info-card #card></rs-info-card>

<div class="row first-row">
  <div class="col-xs-12">
    <div class="col-xs-1" style="width: 15%">
      <div class="text-center">
        <button (click)="refresh()" class="btn btn-warning"
                style="width: 42px; height: 42px; font-size: 20px;"><i
          class="fa fa-refresh"></i></button>
      </div>
    </div>
    <div class="col-xs-1" style="width: 85%">
      <div *ngFor="let period of periods | keyvalue"
           [style.width.%]="100 / periods.size"
           class="col-xs-1">
        <div class="box">
          <div class="box-body text-center" id="period-title">
            {{ period.value.beginDate | date:'dd/MM' }} au {{ period.value.endDate | date:'dd/MM'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="dataCalculated else loading">

  <div *ngFor="let entry of table.rows | keyvalue: sorter" class="row">
    <div class="col-xs-12">
      <div class="col-xs-1 first-col">

        <div class="box text-center">

          <div (click)="entry.value.headerCell.collapsed = !entry.value.headerCell.collapsed"
               [attr.aria-controls]="'collapse-header-cell-' + entry.value.headerCell.terrainType.id"
               [attr.aria-expanded]="!entry.value.headerCell.collapsed"
               class="box-header">
            {{ entry.value.headerCell.terrainType.name }}
            <i class="fa fa-info-circle" style="font-size: 10px"></i>
          </div>

          <div [collapse]="entry.value.headerCell.collapsed"
               [id]="'collapse-header-cell-' + entry.value.headerCell.terrainType.id"
               class="box-body">
            <div>
              {{ entry.value.headerCell.terrainType.desc }}
            </div>
            <div>
              {{ entry.value.headerCell.location.name + " : " + entry.value.headerCell.location.distance + "km" }}
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-1 content-col">
        <div *ngFor="let period of periods | keyvalue"
             [style.width.%]="100 / periods.size"
             class="col-xs-1">

          <div [style.border-color]="entry.value.terrainCells.get(period.key).borderColor"
               class="box text-center">

            <div (click)="
                 entry.value.terrainCells.get(period.key).collapsed = (
                 entry.value.terrainCells.get(period.key).collapsable ?
                 !entry.value.terrainCells.get(period.key).collapsed :
                 entry.value.terrainCells.get(period.key).collapsed)
                "
                 [attr.aria-controls]="'collapse-content-cell-' + entry.value.terrainCells.get(period.key).terrain.id"
                 [attr.aria-expanded]="!entry.value.terrainCells.get(period.key).collapsed"
                 class="box-header">
              {{ entry.value.terrainCells.get(period.key).attribution.length}}
              / {{ entry.value.terrainCells.get(period.key).terrain.maxAmountPlaces }}

              <i *ngIf="entry.value.terrainCells.get(period.key).positioned"
                 [style.color]="entry.value.terrainCells.get(period.key).disabled ? 'green' : 'red'"
                 class="fa fa-user-circle"
                 style="color: red; font-size: 20px"
              ></i>
            </div>

            <div [collapse]="entry.value.terrainCells.get(period.key).collapsed"
                 [id]="'collapse-content-cell-' + entry.value.terrainCells.get(period.key).terrain.id"
                 class="box-body">

              <table class="table">
                <tr *ngIf="entry.value.terrainCells.get(period.key).attribution.length == 0 else somebody">
                  <td>
                    Aucun
                  </td>
                </tr>

                <ng-template #somebody>
                  <tr *ngFor="let attrib of entry.value.terrainCells.get(period.key).attribution">
                    <td [ngClass]="{
                            'validated-attribution': attrib.state === TerrainAttributionState.ACCEPTED,
                            'waiting-attribution': attrib.state === TerrainAttributionState.WAITING,
                            'not-priority-attribution': attrib.state === TerrainAttributionState.NOT_PRIORITY
                            }">
                      {{attrib.firstName + " " + attrib.lastName + (attrib.state === TerrainAttributionState.NOT_PRIORITY ? ' [NP]' : '')}}
                    </td>
                  </tr>

                </ng-template>
              </table>

              <button (click)="swapJoin(entry.value.terrainCells.get(period.key))"
                      *ngIf="!phase.finish && !entry.value.terrainCells.get(period.key).disabled && blockedPeriods.indexOf(period.key) === -1"
                      [ngClass]="{
                                          'btn': true,
                                          'btn-info': !entry.value.terrainCells.get(period.key).leavable,
                                          'btn-danger': entry.value.terrainCells.get(period.key).leavable
                                          }">
                {{ entry.value.terrainCells.get(period.key).leavable ? 'Quitter' : 'Rejoindre' }}
              </button>

            </div>

          </div>


        </div>
      </div>
    </div>
  </div>


</div>
<ng-template #loading>
  <rs-loading></rs-loading>
</ng-template>
