.first-row {
  margin-bottom: 0;

  .box {
    background-color: rgb(255, 166, 107);
  }
}

.row {
  margin-top: 0;
  margin-bottom: 16px;

  .first-col {
    width: 15%;

    .box {
      margin-bottom: 0;

      .box-header {
        background-color: rgb(105, 198, 187);
        font-weight: bold;
        padding-bottom: 10px;
      }

      .box-body {
        background-color: #d1d0d1;
        font-weight: normal;
        font-size: 12px;
        border-top: solid 1px #676769b0;
      }
    }
  }

  .content-col {
    width: 85%;

    .box {
      border-radius: 10px;
      margin-bottom: 0;

      .box-header {
        font-size: 20px;
        color: #3c8dbc;
        cursor: pointer;
      }

      .box-body {
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 0;

        .btn {
          margin-top: 10px;
        }
      }
    }
  }
}


.table {
  background-color: #dadada;

  tr td {
    font-size: 12px;
  }
}

.validated-attribution {
  background-color: #abff99;
}

.waiting-attribution {
  background-color: #ffd162;
}

.not-priority-attribution {
  background-color: #ffd162;
  font-style: italic;
}

#period-title {
  font-weight: bold;
  font-size: 17px;
}
