<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <app-ngx-editor [(ngModel)]="config['htmlContent']" [minHeight]="30"
                        [placeholder]="'Enter text here...'" [spellcheck]="true"></app-ngx-editor>
      </div>
    </div>
  </div>
</div>
