<div class="row">
  <div class="col-md-12">

    <rs-info-card #card></rs-info-card>

    <div class="box">
      <div class="box-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th *ngFor="let column of columns" [style.width.%]="column.width" scope="col">
              {{column.name}}
            </th>
            <th [style.width.%]="20">
              Actions
            </th>
          </tr>
          </thead>
          <tbody>

          <!-- LIST + EDIT ROW -->
          <tr *ngFor="let resultLine of resultLines">
            <td *ngFor="let column of columns">
              <div *ngIf="column.visible">
                <ng-container *ngIf="column.editable else notEditable">
                  <div *ngIf="!editedRow || editedRow.id !== resultLine.id">
                    <div [ngSwitch]="column.editType">
                      <div *ngSwitchCase="'checkbox'">
                        {{ resultLine[column.id] === 1 ? 'Oui' : 'Non' }}
                      </div>
                      <div *ngSwitchDefault>
                        {{ resultLine[column.id] }}
                      </div>
                    </div>
                  </div>

                  <div *ngIf="editedRow && editedRow.id === resultLine.id">
                    <div [ngSwitch]="column.editType">
                      <div *ngSwitchCase="'checkbox'" class="text-center">
                        <input (change)="resultLine[column.id] = !resultLine[column.id]"
                               [checked]="resultLine[column.id]"
                               [disabled]="showEditConfirmation"
                               type="checkbox">
                      </div>
                      <div *ngSwitchDefault>
                        <input [(ngModel)]="resultLine[column.id]"
                               [disabled]="showEditConfirmation"
                               [type]="column.editType"
                               class="form-control">
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #notEditable>
                  {{ resultLine[column.id] }}
                </ng-template>
              </div>
            </td>

            <td style="text-align: center; font-size: large">
              <i (click)="showEditForm(resultLine)" *ngIf="showEditBtn" class="fa fa-pencil col-md-6"></i>
              <i (click)="confirmDelete(resultLine.id)" *ngIf="showDeleteBtn" class="fa fa-trash col-md-6"></i>

              <i (click)="confirmEdit()" *ngIf="editedRow && editedRow.id === resultLine.id"
                 class="fa fa-check col-md-6"></i>
              <i (click)="cancelEdit()" *ngIf="editedRow && editedRow.id === resultLine.id"
                 class="fa fa-times col-md-6"></i>
            </td>

          </tr>

          <!-- ADD ROW -->
          <tr>
            <td *ngFor="let column of columns">
              <div [ngSwitch]="column.editType">
                <div *ngSwitchCase="'checkbox'" class="text-center">
                  <input (change)="addedRow[column.id] = !addedRow[column.id]"
                         [checked]="addedRow[column.id]"
                         [disabled]="!column.editable || !showAddForm"
                         type="checkbox">
                </div>
                <div *ngSwitchDefault>
                  <input [(ngModel)]="addedRow[column.id]" [disabled]="!column.editable || !showAddForm"
                         [placeholder]="column.name" [type]="column.editType" class="form-control">
                </div>
              </div>

            </td>
            <td style="text-align: center">
              <button (click)="confirmAdd()" [disabled]="showAddConfirmation || !showAddForm"
                      class="btn btn-success col-md-12">Ajouter
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <rs-confirmation-card (output)="addElement($event)" *ngIf="showAddConfirmation"
                              [input]="confirmAddData"></rs-confirmation-card>
        <rs-confirmation-card (output)="editElement($event)" *ngIf="showEditConfirmation"
                              [input]="confirmEditData"></rs-confirmation-card>
        <rs-confirmation-card (output)="delElement($event)" *ngIf="showDelConfirmation"
                              [input]="confirmDeleteData"></rs-confirmation-card>
      </div>
    </div>
  </div>
</div>


