<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">

        <div *ngIf="htmlContent else loading" [innerHTML]="htmlContent | safeHtml"></div>

        <ng-template #loading>
          <rs-loading></rs-loading>
        </ng-template>

      </div>
    </div>
  </div>
</div>
