<rs-info-card #card></rs-info-card>

<div class="row">
  <div class="col-md-12">

    <div *ngFor="let row of content" class="box">
      <div class="box-header">
        <span class="underline">{{row.year.name}}</span> : {{ row.promotion.name }}
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr *ngFor="let terrain of row.terrains" class="stage">
            <td>
              <span class="stage-name">{{ terrain.name }}</span>
              du {{terrain.beginDate | date:'dd/MM/yy' }} au {{terrain.endDate | date:'dd/MM/yy'}}
            </td>
            <td class="text-center">
              <i class="fa fa-arrow-right"></i>
            </td>
            <td>
              <span *ngIf="!terrain.evaluated else alreadyEvaluate">Evaluer</span>
              <ng-template #alreadyEvaluate>
                <span style="font-style: italic">Déjà évalué</span>
              </ng-template>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
