<rs-info-card #card></rs-info-card>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">

        <label>Utilisateur cible</label>
        <ng-select [(ngModel)]="targetId" [notFoundText]="'Introuvable'">
          <ng-option [value]="undefined">Non défini</ng-option>
          <ng-option *ngFor="let user of users"
                     [value]="user.id">{{ user.firstName + " " + user.lastName}}</ng-option>
        </ng-select>

        <label>Utilisateur executant</label>
        <ng-select [(ngModel)]="executorId" [notFoundText]="'Introuvable'">
          <ng-option [value]="undefined">Non défini</ng-option>
          <ng-option *ngFor="let user of users"
                     [value]="user.id">{{ user.firstName + " " + user.lastName}}</ng-option>
        </ng-select>

        <label>Type d'action</label>
        <ng-select [(ngModel)]="type" [notFoundText]="'Introuvable'">
          <ng-option *ngFor="let logType of logTypes"
                     [value]="logType.type">{{ logType.shortTranslation }}</ng-option>
        </ng-select>

        <br>

        <button (click)="getLogs()"
                [disabled]="!(((targetId !== undefined) || (executorId !== undefined)) && (type !== undefined))"
                class="btn btn-success">
          Chercher
        </button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <table class="table table-bordered table-hover table-striped">
          <thead>
          <tr>
            <th scope="col">
              Date
            </th>
            <th scope="col">
              Executant
            </th>
            <th scope="col">
              IP de l'executant
            </th>
            <th scope="col">
              Cible
            </th>
            <th scope="col">
              Action
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let log of logs">
            <td>{{log.date | date: 'dd/MM/yy à HH:mm'}}</td>
            <td>{{getUserNameById(log.executorId)}}</td>
            <td>{{log.executorIp}}</td>
            <td>{{getUserNameById(log.targetId)}}</td>
            <td>{{ log['translation'] }}</td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
