<rs-info-card #card></rs-info-card>

<div *ngIf="planning">
  <div *ngFor="let year of planning" class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">{{ year.name }}</h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>Date</th>
              <th>Terrain</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let garde of year.gardes">
              <td>{{garde.date | date: 'longDate'}}</td>
              <td>{{garde.terrainName}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
