<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">

    <li *ngIf="user" class="dropdown notifications-menu" rsAdmin>
      <a [routerLink]="['/admin/']" class="dropdown-toggle">
        <span>Administration</span>
      </a>
    </li>

    <li class="dropdown notifications-menu visible-sm visible-md visible-lg" rsAuth>
      <a class="dropdown-toggle">
        <i class="fa fa-bell-o"></i>
        <!--<span class="label label-warning">10</span>-->
      </a>
    </li>

    <li *ngIf="user" class="dropdown notifications-menu visible-sm visible-md visible-lg" rsAuth>
      <a [routerLink]="['/private/profile/' + user.id]" class="dropdown-toggle">
        <span>{{ user.firstName + ' ' + user.lastName}}</span>
      </a>
    </li>

    <li class="dropdown notifications-menu" rsAuth>
      <a [routerLink]="['/auth/logout']" class="dropdown-toggle">
        <i class="ion ion-ios-exit"></i>
      </a>
    </li>
    <li class="dropdown notifications-menu" rsNotAuth>
      <a [routerLink]="['/auth/login']" class="dropdown-toggle">
        <span>Connexion</span>
      </a>
    </li>
    <li class="dropdown notifications-menu" rsNotAuth>
      <a [routerLink]="['/auth/register']" class="dropdown-toggle">
        <span>Inscription</span>
      </a>
    </li>
  </ul>
</div>
