<ng-container *ngIf="isCustomLayout else noCustomLayout">
  <router-outlet>
  </router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <mk-layout-wrapper>
    <mk-layout-sidebar-right>
    </mk-layout-sidebar-right>

    <mk-layout-header>
      <mk-layout-header-logo><img src="../assets/dinosaure2.png" height="34" width="30" alt="logo"> Tirajosaure
      </mk-layout-header-logo>
      <mk-layout-header-logo-mini><img src="../assets/dinosaure2.png" height="57" width="50" alt="logo">
      </mk-layout-header-logo-mini>
      <rs-header-nav-bar></rs-header-nav-bar>

    </mk-layout-header>

    <mk-layout-sidebar-left>
    </mk-layout-sidebar-left>

    <mk-layout-content>
      <router-outlet>
      </router-outlet>
    </mk-layout-content>

    <cookie-law name="accept_cookies_use">
      En continuant à naviguer sur Tirajosaure, vous acceptez l'utilisation de cookies.
      En savoir plus dans les <span [routerLink]="['/public/cgu']" style="font-weight: bold">CGU</span>.
    </cookie-law>

    <mk-layout-footer>

      <mk-layout-footer-left>
        ARSA © {{year}}
      </mk-layout-footer-left>
      <mk-layout-footer-right>
        <div [routerLink]="['/public/cgu']" class="pointer">Mentions légales</div>
      </mk-layout-footer-right>
    </mk-layout-footer>
  </mk-layout-wrapper>
</ng-template>

