<rs-info-card #card></rs-info-card>

<div *ngIf="periods">
  <div class="row first-row">
    <div class="col-xs-12">
      <div class="col-xs-1" style="width: 15%">
        <div class="text-center">
          <button (click)="refresh(false)" class="btn btn-warning"
                  style="width: 42px; height: 42px; font-size: 20px; margin-right: 2px;"><i
            class="fa fa-refresh"></i></button>
          <button (click)="swapGroup()" class="btn btn-info"
                  style="width: 42px; height: 42px; font-size: 20px; font-weight: bolder; margin-right: 2px;">
            {{ selectedGroup === Group.A ? 'A' : selectedGroup === Group.B ? 'B' : 'none' }}
          </button>
          <button (click)="swapSort()" class="btn btn-info"
                  style="height: 42px; font-size: 15px; font-weight: bolder; margin-top: 2px; margin-right: 2px;">
            {{ sorter === sorterByAlphabeticOrder ? 'Normal' : sorter === sorterByDistanceInvertOrder ? 'Par distance' : 'Erreur' }}
          </button>
        </div>
      </div>
      <div class="col-xs-1" style="width: 85%">
        <div *ngFor="let period of periods; trackBy: trackByFn('period')"
             [style.width.%]="(100 / periods.length)" class="col-xs-1">
          <div class="box">
            <div class="box-body text-center">
              {{ period.beginDate | date:'dd/MM' }} au {{ period.endDate | date:'dd/MM'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dataCalculated else loading">
    <div *ngFor="let row of table.rows; trackBy: trackRowByFn" class="row">
      <div class="col-xs-12">

        <div class="col-xs-1 first-col">
          <div class="box text-center">
            <div (click)="row.headerCell.collapsed = !row.headerCell.collapsed"
                 [attr.aria-controls]="'collapse-header-cell-' + row.headerCell.terrainType.id"
                 [attr.aria-expanded]="!row.headerCell.collapsed"
                 class="box-header">
              {{ row.headerCell.terrainType.name }}
              <i class="fa fa-info-circle" style="font-size: 10px"></i>
            </div>

            <div [collapse]="row.headerCell.collapsed"
                 [id]="'collapse-header-cell-' + row.headerCell.terrainType.id"
                 class="box-body">
              <div>
                {{ row.headerCell.terrainType.desc }}
              </div>
              <div>
                {{ row.headerCell.location.name + " : " + row.headerCell.location.distance + "km" }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-1 content-col">
          <div *ngFor="let terrainCell of row.terrainCells; trackBy: trackTerrainCellByFn"
               [style.width.%]="100 / periods.length"
               class="col-xs-1">

            <div [style.border-color]="terrainCell.borderColor"
                 class="box text-center">

              <div
                (click)="terrainCell.collapsed = !terrainCell.collapsed"
                [attr.aria-controls]="'collapse-content-cell-' + terrainCell.terrain.id"
                [attr.aria-expanded]="!terrainCell.collapsed"
                class="box-header">
                {{ terrainCell.attributions.length}}
                / {{ terrainCell.terrain.maxAmountPlaces }}
              </div>

              <div [collapse]="terrainCell.collapsed"
                   [id]="'collapse-content-cell-' + terrainCell.terrain.id"
                   class="box-body">

                <table class="table">
                  <tr *ngFor="let attrib of terrainCell.attributions; trackBy: trackByFn('attrib')"
                      [ngClass]="{
                      'validated-attribution': attrib.state === TerrainAttributionState.ACCEPTED,
                      'waiting-attribution': attrib.state === TerrainAttributionState.WAITING,
                      'not-priority-attribution': attrib.state === TerrainAttributionState.NOT_PRIORITY
                      }">
                    <td>{{attrib.firstName + " " + attrib.lastName + (attrib.state === TerrainAttributionState.NOT_PRIORITY ? '[NP]' : '')}}</td>
                    <td class="actions-case">
                      <i (click)="deleteAttribution(attrib.id)" class="fa fa-trash"></i>
                      <i (click)="switchValidation(attrib.id, attrib.state)" [ngClass]="{
                        'fa': true,
                        'fa-check': ((attrib.state === TerrainAttributionState.WAITING) || (attrib.state === TerrainAttributionState.NOT_PRIORITY)),
                        'fa-times': attrib.state === TerrainAttributionState.ACCEPTED
                        }"></i>
                    </td>
                  </tr>
                </table>

                <div class="row" style="margin-top: 10px; min-width: 160px">
                  <div class="col-lg-8 col-md-12">
                    <ng-select #selectComponent [notFoundText]="'Introuvable'">
                      <ng-option *ngFor="let user of users;"
                                 [value]="user.id">{{ user.firstName + " " + user.lastName}}</ng-option>
                    </ng-select>
                  </div>

                  <div class="col-lg-4 col-md-12">
                    <button
                      (click)="addAttribution(terrainCell.terrain.id, selectComponent.selectedValues[0])"
                      class="btn btn-info" type="button"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>

                <div class="row" style="margin-top: 10px">
                  <button (click)="validateAll(terrainCell.terrain.id)"
                          class="btn btn-success">
                    Valider
                  </button>
                  <button (click)="deleteAll(terrainCell.terrain.id)"
                          class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- SUB COUNT-->
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-1 first-col">
          <div class="box text-center">
            <div class="box-body" style="font-weight: bold">
              Sous-total
            </div>
          </div>
        </div>
        <div class="col-xs-1 content-col">
          <div *ngFor="let period of periods"
               [style.width.%]="100 / periods.length"
               class="col-xs-1">
            <div class="box text-center">
              <div class="box-body" style="font-weight: bold">
                <div>Validé : {{ table | colCount: {
                    periodId: period.id,
                    state: TerrainAttributionState.ACCEPTED
                } }}</div>
                <div> En attente : {{ table | colCount: {
                    periodId: period.id,
                    state: TerrainAttributionState.WAITING
                } }}</div>
                <div>NP : {{ table | colCount: {
                    periodId: period.id,
                    state: TerrainAttributionState.NOT_PRIORITY
                } }}</div>
                <div>Total: {{ table | colCount: {periodId: period.id} }}
                  / {{ table | colCount: {periodId: period.id, max: true} }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TOTAL COUNT-->
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-1 first-col">
          <div class="box text-center">
            <div class="box-body" style="font-weight: bold">
              Total
            </div>
          </div>
        </div>
        <div class="col-xs-11 content-col">
          <div class="box">
            <div class="box-body text-center" style="font-weight: bolder">
              <div>Validé : {{ table | colCount: {
                  state: TerrainAttributionState.ACCEPTED,
                  group: selectedGroup
              } }}</div>
              <div> En attente : {{ table | colCount: {
                  state: TerrainAttributionState.WAITING,
                  group: selectedGroup
              } }}</div>
              <div>NP : {{ table | colCount: {
                  state: TerrainAttributionState.NOT_PRIORITY,
                  group: selectedGroup
              } }}</div>
              <div>Total: {{ table | colCount: {group: selectedGroup} }} / {{ table | colCount: {
                  max: true,
                  group: selectedGroup
              } }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <rs-loading></rs-loading>
  </ng-template>
</div>
