<div class="row">
  <div class="col-md-12">
    <div class="box">

      <div class="box-header h4">
        <div *ngIf="promotionInfo else noPromotion">
          Progression de la répartition pour la promotion {{ promotionInfo.name }}
        </div>
        <ng-template #noPromotion>
          <div>Promotion introuvable</div>
        </ng-template>
      </div>

      <div class="box-body">

        <div *ngIf="(phases && phases.length > 0) else noPhase">
          <div class="col-xs-12">
            <rs-step-progress-bar [steps]="phases"></rs-step-progress-bar>
          </div>
          <div class="col-xs-12 text-center">
            <i (click)="selectPreviousPhase()" class="rs-arrow fa fa-arrow-circle-left"></i>

            <i (click)="selectNextPhase()" class="rs-arrow fa fa-arrow-circle-right"></i>
          </div>

          <div class="col-xs-12 phase-state-btn-container">

            <button (click)="activatePhase()" [disabled]="phases[selectedPhaseId].active"
                    class="col-xs-6 btn btn-success">
              <div *ngIf="phases[selectedPhaseId] && phases[selectedPhaseId].active else activatePhaseDiv"> Phase déjà
                activée !
              </div>
              <ng-template #activatePhaseDiv>
                <div>Activer cette phase</div>
              </ng-template>
            </button>

            <button (click)="swapPhaseFinishState()"
                    [disabled]="!phases[selectedPhaseId].active"
                    [ngClass]="{
                    'col-xs-6' : true,
                    'btn' : true,
                    'btn-danger': !phases[selectedPhaseId].finish,
                    'btn-info': phases[selectedPhaseId].finish
                    }">
              <div *ngIf="phases[selectedPhaseId].finish else stopPhase">Relancer cette phase</div>
              <ng-template #stopPhase>
                <div>Arrêter cette phase</div>
              </ng-template>
            </button>

          </div>
        </div>

        <ng-template #noPhase>
          <div class="text-center"> Pas de phase définie pour cette promotion</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<rs-info-card #card></rs-info-card>

<div
  *ngIf="(phases && (selectedPhaseId >=0) && phases[selectedPhaseId] && phases[selectedPhaseId].config) else noConfig">
  <div [ngSwitch]="phases[selectedPhaseId].config.type">
    <div *ngSwitchCase="'group'">
      <rs-manage-phase-group #phaseManager
                             [phase]="phases[selectedPhaseId]"
                             [promotion]="promotionInfo"></rs-manage-phase-group>
    </div>
    <div *ngSwitchCase="'spreading'">
      <rs-manage-phase-terrain #phaseManager
                               [phase]="phases[selectedPhaseId]"
                               [promotion]="promotionInfo"></rs-manage-phase-terrain>
    </div>
    <div *ngSwitchCase="'terrain'">
      <rs-manage-phase-terrain #phaseManager
                               [phase]="phases[selectedPhaseId]"
                               [promotion]="promotionInfo"></rs-manage-phase-terrain>
    </div>
    <div *ngSwitchCase="'textual'">
      <rs-manage-phase-textual #phaseManager
                               [phase]="phases[selectedPhaseId]"
                               [promotion]="promotionInfo"></rs-manage-phase-textual>
    </div>
  </div>
</div>

<ng-template #noConfig>
  <div class="text-center">Cette phase n'a pas de configuration</div>
</ng-template>
