<rs-info-card #card></rs-info-card>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">

        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Promotion</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let document of documents">
            <td>{{document.id}}</td>
            <td>{{document.name}}</td>
            <td>{{document.description}}</td>
            <td>{{getPromotionName(document.promotionId)}}</td>
            <td style="text-align: center; font-size: large">
              <!--DOWNLOAD--><i (click)="downloadDocument(document.id, document.fileName)"
                                class="fa fa-download col-md-6"></i>
              <!--DEL--><i (click)="deleteDocument(document.id)" *ngIf="showDelBtn" class="fa fa-trash col-md-6"></i>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">
          Ajouter un document
        </div>
      </div>
      <div class="box-body">
        <div class="col-md-6">

          <label class="" for="name">Nom</label>
          <input [(ngModel)]="data.name" class="form-control" id="name"
                 name="name" placeholder="Nom"
                 type="text">

          <br>

          <label class="" for="description">Description</label>
          <textarea [(ngModel)]="data.description" class="form-control" cols="40"
                    id="description" name="description"
                    rows="3"
                    type="text"></textarea>
        </div>

        <div class="col-md-6">

          <label class="" for="promotionId">Promotion</label>
          <select [(ngModel)]="data.promotionId" class="form-control"
                  id="promotionId"
                  name="promotionId">
            <option *ngFor="let promotion of promotions" [value]="promotion.id">
              {{promotion.name}}
            </option>
          </select>

          <br>

          <label class="" for="document">Document</label>
          <input (change)="handleFileInput($event.target.files)" class="form-control" id="document"
                 name="document"
                 type="file">

        </div>
        <br>
        <div class="col-md-12 text-center">
          <button (click)="uploadDocument()"
                  class="btn btn-success">Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
