<rs-info-card #card></rs-info-card>

<div *ngIf="user" class="row">
  <div class="col-md-12">
    <div *ngIf="!edition else editionBox" class="box">
      <div class="box-header">
        <div class="box-title">
          Informations générales
        </div>
      </div>
      <div class="box-body">
        <div *ngIf="user.id" class="row-group">
          <div class="row-head">
            ID
          </div>
          <div class="row-content">
            <div class="row-content-text">
              {{ user.id }}
            </div>
          </div>
        </div>

        <div *ngIf="user.firstName && user.lastName" class="row-group">
          <div class="row-head">
            Nom
          </div>
          <div class="row-content">
            <div class="row-content-text">
              {{ user.firstName + " " + user.lastName }}
            </div>
          </div>
        </div>

        <div *ngIf="user.email" class="row-group">
          <div class="row-head">
            Adresse mail
          </div>
          <div class="row-content">
            <div class="row-content-text">
              {{ user.email }}
            </div>
          </div>
        </div>

        <div *ngIf="user.phone" class="row-group">
          <div class="row-head">
            Téléphone
          </div>
          <div class="row-content">
            <div class="row-content-text">
              {{ user.phone }}
            </div>
          </div>
        </div>

        <div *ngIf="user.studentNumber" class="row-group">
          <div class="row-head">
            Numéro étudiant
          </div>
          <div class="row-content">
            <div class="row-content-text">
              {{ user.studentNumber }}
            </div>
          </div>
        </div>

        <div *ngIf="user.promotionId && promotions" class="row-group">
          <div class="row-head">
            Promotion
          </div>
          <div class="row-content">
            <div class="row-content-text">
              {{ getPromotionName(user.promotionId)}}
            </div>
          </div>
        </div>

        <div *ngIf="user.group" class="row-group">
          <div class="row-head">
            Groupe
          </div>
          <div class="row-content">
            <div [ngSwitch]="user.group"
                 class="row-content-text">
              <div *ngSwitchCase="1">Aucun</div>
              <div *ngSwitchCase="2">A</div>
              <div *ngSwitchCase="3">B</div>
              <div *ngSwitchCase="4">Les deux</div>
            </div>
          </div>
        </div>

        <div class="row-group">
          <div class="row-head">
            Marqué comme redoublant cette année
          </div>
          <div class="row-content">
            <div class="row-content-text">
              {{ (user.redoubling === 1) ? 'Oui' : 'Non' }}
            </div>
          </div>
        </div>

        <div class="row-group">
          <div class="row-head">
            Administrateur
          </div>
          <div class="row-content">
            <div class="row-content-text">
              {{ (user.admin === true) ? 'Oui' : 'Non' }}
            </div>
          </div>
        </div>

        <div class="text-center">
          <button (click)="startEdition()" class="btn btn-success">Editer</button>
        </div>

      </div>
    </div>

    <ng-template #editionBox>
      <div class="box">
        <div class="box-header">
          <div class="box-title">
            Edition des informations générales
          </div>
        </div>
        <div class="box-body">
          <div class="row-group">
            <div class="row-head">
              Nom
            </div>
            <div class="row-content">
              <input [(ngModel)]="user.lastName" type="text">
            </div>
          </div>

          <div class="row-group">
            <div class="row-head">
              Prénom
            </div>
            <div class="row-content">
              <input [(ngModel)]="user.firstName" type="text">
            </div>
          </div>

          <div class="row-group">
            <div class="row-head">
              Adresse mail
            </div>
            <div class="row-content">
              <input [(ngModel)]="user.email" type="text">
            </div>
          </div>

          <div class="row-group">
            <div class="row-head">
              Téléphone
            </div>
            <div class="row-content">
              <input [(ngModel)]="user.phone" type="text">
            </div>
          </div>

          <div class="row-group">
            <div class="row-head">
              Numéro étudiant
            </div>
            <div class="row-content">
              <input [(ngModel)]="user.studentNumber" type="number">
            </div>
          </div>

          <div *ngIf="promotions" class="row-group">
            <div class="row-head">
              Promotion
            </div>
            <div class="row-content">
              <select [(ngModel)]="user.promotionId" class="form-control">
                <option *ngFor="let promotion of promotions" [value]="promotion.id">
                  {{promotion.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="row-group">
            <div class="row-head">
              Groupe
            </div>
            <div class="row-content">
              <select [(ngModel)]="user.group" class="form-control">
                <option [value]="1"> Aucun</option>
                <option [value]="2"> Groupe A</option>
                <option [value]="3"> Groupe B</option>
                <option [value]="4"> Les deux</option>
              </select>
            </div>
          </div>

          <div class="row-group">
            <div class="row-head">
              Marqué comme redoublant cette année
            </div>
            <div class="row-content">
              <input [(ngModel)]="user.redoubling" [checked]="user.redoubling === 1" type="checkbox">
            </div>
          </div>

          <div class="row-group">
            <div class="row-head">
              Administrateur
            </div>
            <div class="row-content">
              <input [(ngModel)]="user.admin" [checked]="user.admin" type="checkbox">
            </div>
          </div>

          <div class="text-center">
            <button (click)="saveEdition()" class="btn btn-success">Sauvegarder</button>
          </div>

        </div>
      </div>
    </ng-template>
  </div>
</div>
