<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header h4">Progression de la répartition</div>
      <div class="box-body">
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div [innerHTML]="htmlContent | safeHtml"></div>
      </div>
    </div>
  </div>
</div>

