<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header h4">Progression de la répartition</div>
      <div class="box-body">
        <rs-step-progress-bar [steps]="phases"></rs-step-progress-bar>
        <div *ngIf="activatedPhase && !activatedPhase.finish" class="date-container"> Fin de la phase le
          <span>{{activatedPhase.endDate | date : 'dd/MM/yyyy à HH:mm'}}</span></div>
      </div>
    </div>
  </div>
  <div *ngIf="activatedPhase" class="col-md-12">
    <div *ngIf="activatedPhase.finish" class="box">
      <div class="box-header">
        Phase actuelle terminée
        <span *ngIf="phases[nextPhaseArrayId]"> : prochaine phase le
          <span>{{ phases[nextPhaseArrayId].beginDate | date : 'dd/MM/yyyy à HH:mm' }}</span>
        </span>
      </div>
    </div>
    <div [ngSwitch]="activatedPhase.config['type']">
      <div *ngSwitchCase="'group'">
        <rs-distribution-group [phase]="activatedPhase"></rs-distribution-group>
      </div>
      <div *ngSwitchCase="'terrain'">
        <rs-distribution-terrain [phase]="activatedPhase"></rs-distribution-terrain>
      </div>
      <div *ngSwitchCase="'spreading'">
        <rs-distribution-spreading [phase]="activatedPhase"></rs-distribution-spreading>
      </div>
      <div *ngSwitchCase="'textual'">
        <rs-distribution-message [phase]="activatedPhase"></rs-distribution-message>
      </div>
    </div>
  </div>
</div>
