.date-container {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  span {
    span {
      font-weight: bold;
    }
  }
}

.box-header {
  text-align: center;
  font-size: 20px;

  span {
    font-weight: bold;
  }
}
