<div class="card">
  <div class="card-header h4">
    {{input.title}}
  </div>
  <div class="card-body">
    <div class="row col-xs-12">
      {{input.additionalInfo}}
    </div>
    <br>
    <div class="row col-xs-12">
      <div class="col-xs-6" style="text-align: center">
        <button (click)="confirm()" class="btn btn-success col-md-12"> {{ input.textBtnConfirm !== undefined ?
          input.textBtnConfirm : "Confirmer"}}
        </button>
      </div>
      <div class="col-xs-6" style="text-align: center">
        <button (click)="cancel()" class="btn btn-danger col-md-12"> {{ input.textBtnCancel !== undefined ?
          input.textBtnCancel : "Annuler"}}
        </button>
      </div>
    </div>
  </div>
</div>

