<div *ngIf="allUsers" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">Rechercher un utilisateur</div>
      </div>
      <div class="box-body">
        <div class="form-inline">
          <ng-select [(ngModel)]="selectedUserId" [notFoundText]="'Introuvable'" class="col-md-10">
            <ng-option *ngFor="let user of allUsers"
                       [value]="user.id">{{ user.firstName + " " + user.lastName}}</ng-option>
          </ng-select>

          <button (click)="navigateToSelectedProfile()" class="col-md-2 btn btn-success">Aller au profil</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="users" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">
          Liste des utilisateurs
        </div>
      </div>
      <div class="box-body">
        <table class="table table-striped table-responsive">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Promotion</th>
            <th scope="col">Groupe</th>
            <th scope="col">Profil</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName + ' ' + user.lastName }}</td>
            <td>{{ getPromotionName(user.promotionId) }}</td>
            <td [ngSwitch]="user.group">
              <div *ngSwitchCase="1">
                Aucun
              </div>
              <div *ngSwitchCase="2">
                A
              </div>
              <div *ngSwitchCase="3">
                B
              </div>
            </td>
            <td><i [routerLink]="'/admin/users/profile/' + user.id" class="fa fa-user-circle"></i></td>
          </tr>
          </tbody>

        </table>

        <nav class="col-md-12 text-center">
          <ul class="pagination">
            <li [ngClass]="{disabled: this.currentPageId === 0}" class="page-item">
              <a (click)="switchPage(0)" aria-label="First" class="page-link">
                <span aria-hidden="true">«</span>
                <span class="sr-only">First</span>
              </a>
            </li>

            <li [ngClass]="{disabled: this.currentPageId === 0}" class="page-item">
              <a (click)="switchPage(this.currentPageId - 1)" aria-label="Prev"
                 class="page-link">
                <span aria-hidden="true">&lt;</span>
                <span class="sr-only">Prev</span>
              </a>
            </li>

            <li (click)="switchPage(id)" *ngFor="let id of this.pageIdsToShow"
                [ngClass]="{active : id === this.currentPageId}"
                class="page-item">
                  <span class="page-link">
                    {{ id + 1 }}
                    <span *ngIf="id === this.currentPageId" class="sr-only">(current)</span>
                  </span>
            </li>

            <li [ngClass]="{disabled: this.maxPageId === this.currentPageId }" class="page-item">
              <a (click)="switchPage(this.currentPageId + 1)" aria-label="Next"
                 class="page-link">
                <span aria-hidden="true">&gt;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

            <li [ngClass]="{disabled: this.maxPageId === this.currentPageId}" class="page-item">
              <a (click)="switchPage(this.maxPageId)" aria-label="Last" class="page-link">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


