.row-group {

  $base-color: #f486309c;
  $border-radius: 10px;

  display: flex;

  min-height: 30px;

  border: solid 1px $base-color;
  border-radius: $border-radius;

  margin-bottom: 10px;

  .row-head {
    flex: 1;
    border-right: solid 1px $base-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    padding-top: 4px;

    background-color: $base-color;
    text-align: center;
  }

  .row-content {
    flex: 3;
    padding-left: 5px;
    padding-right: 5px;

    .row-content-text {
      padding-top: 4px;
    }

    input {
      padding-left: 5px;
      background: transparent;
      border: none;
      width: 100%;
      height: 100%;
    }

    select {
      background: transparent;
      border: none;
      width: 100%;
      height: 100%;
    }

  }

}
