<rs-info-card #card></rs-info-card>

<div *ngIf="user">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <div class="box-title">
            Informations générales
          </div>
        </div>
        <div class="box-body">
          <div *ngIf="user.id" class="row-group">
            <div class="row-head">
              ID
            </div>
            <div class="row-content">
              <div class="row-content-text">
                {{ user.id }}
              </div>
            </div>
          </div>

          <div *ngIf="user.firstName && user.lastName" class="row-group">
            <div class="row-head">
              Nom
            </div>
            <div class="row-content">
              <div class="row-content-text">
                {{ user.firstName + " " + user.lastName.toUpperCase() }}
              </div>
            </div>
          </div>

          <div *ngIf="user.email" class="row-group">
            <div class="row-head">
              Adresse mail
            </div>
            <div class="row-content">
              <div class="row-content-text">
                {{ user.email }}
              </div>
            </div>
          </div>

          <div *ngIf="user.phone" class="row-group">
            <div class="row-head">
              Téléphone
            </div>
            <div class="row-content">
              <div class="row-content-text">
                {{ user.phone }}
              </div>
            </div>
          </div>

          <div *ngIf="user.studentNumber" class="row-group">
            <div class="row-head">
              Numéro étudiant
            </div>
            <div class="row-content">
              <div class="row-content-text">
                {{ user.studentNumber }}
              </div>
            </div>
          </div>

          <div *ngIf="user.promotionId && promotions" class="row-group">
            <div class="row-head">
              Promotion
            </div>
            <div class="row-content">
              <div class="row-content-text">
                {{ getPromotionName(user.promotionId)}}
              </div>
            </div>
          </div>

          <div *ngIf="user.group" class="row-group">
            <div class="row-head">
              Groupe
            </div>
            <div class="row-content">
              <div [ngSwitch]="user.group"
                   class="row-content-text">
                <div *ngSwitchCase="1">Aucun</div>
                <div *ngSwitchCase="2">A</div>
                <div *ngSwitchCase="3">B</div>
                <div *ngSwitchCase="4">Les deux</div>
              </div>
            </div>
          </div>

          <div class="row-group">
            <div class="row-head">
              Marqué comme redoublant cette année
            </div>
            <div class="row-content">
              <div class="row-content-text">
                {{ (user.redoubling === 1) ? 'Oui' : 'Non' }}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <div class="box-title">
            Modifier le mot de passe
          </div>
        </div>
        <div class="box-body">
          <form #form="ngForm" (ngSubmit)="changePassword()" autocomplete="off">
            <!-- Mot de passe -->
            <div class="form-group has-feedback">
              <label class="sr-only" for="password">Mot de passe</label>
              <input #password="ngModel" [(ngModel)]="change.password"
                     [class.form-control-danger]="password.invalid && password.touched" [maxLength]="100"
                     [minLength]="6" class="form-control"
                     id="password" name="password" placeholder="Mot de passe"
                     required
                     type="password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              <div class="input-group mb-3">
                <small *ngIf="password.invalid && password.touched && password.errors?.required"
                       class="form-text text-danger">
                  Un mot de passe est requis.
                </small>
                <small
                  *ngIf="password.invalid && password.touched && (password.errors?.minlength || change.password?.length > 10)"
                  class="form-text text-danger">
                  Le mot de passe doit contenir entre 6 et 100 caractères.
                </small>
            </div>
            </div>

            <div class="form-group has-feedback">
              <label class="sr-only" for="confirmPassword">Confirmation du mot de passe</label>
              <input #confirmPassword="ngModel" [(ngModel)]="change.confirmPassword"
                     [class.form-control-danger]="(confirmPassword.invalid || password.value != confirmPassword.value) && confirmPassword.touched"
                     class="form-control"
                     id="confirmPassword" name="confirmPassword" placeholder="Confirm. Mot de passe"
                     required
                     type="password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              <div class="input-group mb-3">
                <small *ngIf="confirmPassword.invalid && confirmPassword.touched && confirmPassword.errors?.required"
                       class="form-text text-danger">
                  Un mot de passe de confirmation est requis!
                </small>
                <small
                  *ngIf="confirmPassword.touched && password.value != confirmPassword.value && !confirmPassword.errors?.required"
                  class="form-text text-danger">
                  Les deux mots de passe ne concordent pas.
                </small>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button [class.btn-pulse]="submitted"
                        [disabled]="submitted || !form.valid"
                        class="btn btn-primary btn-block btn-flat"
                        type="submit">Valider
                </button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
