<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <label for="onlyRedoubling">Choix du groupe uniquement ouvert pour les redoublants</label>
        <input (change)="config.onlyRedoubling = !config['onlyRedoubling']" [checked]="config['onlyRedoubling']"
               class="form-check"
               id="onlyRedoubling" type="checkbox">
      </div>
    </div>
  </div>
</div>

