<div *ngIf="!phase.finish" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title col-xs-12 text-center">
          Mon groupe
        </div>
      </div>
      <div class="box-body">
        <div class="text-center">
          <ui-switch #groupSwitcher (change)="swapGroup()"
                     [disabled]="groupBlocked || (phase.config['onlyRedoubling'] && !redoubling)"></ui-switch>
        </div>
        <div class="refresh-btn-container">
          <button (click)="refreshUsers()" class="btn btn-success">Rafraichir</button>
        </div>
        <rs-info-card #card></rs-info-card>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div *ngIf="groupA" class="box">
      <div class="box-header">
        <div class="box-title col-xs-12">
          <div class="pull-left">Membres actuels du groupe A</div>
          <div class="pull-right">
            <div [ngClass]="
            {
            'badge': true,
            'bg-green': (groupA.length <= Math.ceil((groupA.length + groupB.length)/2)),
            'bg-red': (groupA.length > Math.ceil((groupA.length + groupB.length)/2))
            }">
              {{ groupA.length }} / {{Math.ceil((groupA.length + groupB.length) / 2)}}
            </div>
          </div>
        </div>
      </div>

      <div class="box-body">
        <ul>
          <li
            *ngFor="let user of groupA">{{user['showedId'] + '. ' + user.firstName + " " + user.lastName.toUpperCase()}}</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="col-md-6">
    <div *ngIf="groupB" class="box">
      <div class="box-header">
        <div class="box-title col-xs-12">
          <div class="pull-left">Membres actuels du groupe B</div>
          <div class="pull-right">
            <div [ngClass]="
            {
            'badge': true,
            'bg-green': (groupB.length <= Math.ceil((groupA.length + groupB.length)/2)),
            'bg-red': (groupB.length > Math.ceil((groupA.length + groupB.length)/2))
            }">
              {{ groupB.length }} / {{Math.ceil((groupA.length + groupB.length) / 2)}}
            </div>
          </div>
        </div>
      </div>

      <div class="box-body">
        <ul>
          <li
            *ngFor="let user of groupB">{{user['showedId'] + '. ' + user.firstName + " " + user.lastName.toUpperCase()}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
