<rs-info-card #card></rs-info-card>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">

        <label for="yearSelect">Sélectionner l'année</label>
        <select *ngIf="years" [(ngModel)]="query['yearId']"
                class="form-control"
                id="yearSelect">
          <option *ngFor="let year of years" [value]="year.id"> {{year.name}}</option>
        </select>

        <label for="promotionSelect">Sélectionner la promotion</label>
        <select *ngIf="promotions" [(ngModel)]="query['promotionId']"
                class="form-control"
                id="promotionSelect">
          <option *ngFor="let promotion of promotions" [value]="promotion.id"> {{promotion.name}}</option>
        </select>

        <label for="sortTypeSelect">Sélectionner le type d'exportation</label>
        <select [(ngModel)]="query['sortType']" class="form-control"
                id="sortTypeSelect">
          <option [value]="'terrain'"> Par stages</option>
          <option [value]="'user'"> Par externes</option>
        </select>

        <label for="categorySelect">Sélectionner la catégorie</label>
        <select *ngIf="categories" [(ngModel)]="query['categoryId']"
                class="form-control"
                id="categorySelect">
          <option [value]="null"> Toutes</option>
          <option *ngFor="let category of categories" [value]="category.id"> {{category.name}}</option>
        </select>

        <br>

        <button (click)="getExportation()" class="btn btn-success">Exporter</button>

      </div>
    </div>
  </div>
</div>
