<rs-info-card #card></rs-info-card>

<div *ngIf="years" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div *ngIf="activeYear else noActiveYear" class="h4 text-center col-xs-12">
          Année active : {{activeYear.name}}
        </div>
        <ng-template #noActiveYear>
          <div class="h4 text-center col-xs-12">
            Pas d'année activée pour le moment
          </div>
        </ng-template>

        <div class="form-group">
          <label class="col-xs-12" for="selectedYear">Changer l'année de répartition active</label>
          <div class="col-xs-8">
            <select [(ngModel)]="selectedYearId" [disabled]="disableActiveYearSelection" class="form-control"
                    id="selectedYear">
              <option *ngFor="let year of years" [value]="year.id">{{year.name}}</option>
            </select>
          </div>
          <div class="col-xs-4">
            <button (click)="askForConfirmationYearUpdate()" [disabled]="disableActiveYearSelection"
                    class="btn btn-success">Activer
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="showUpdateActiveYearConfirmation" class="box-footer">
        <rs-confirmation-card (output)="updateActiveYear($event)"
                              [input]="confirmUpdateActiveYear"></rs-confirmation-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="promotions" class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <label class="col-xs-12" for="selectedPromotion">Gérer la répartition d'une promotion</label>
          <div class="col-xs-8">
            <select [(ngModel)]="selectedPromotionId" [disabled]="!activeYear" class="form-control"
                    id="selectedPromotion">
              <option *ngFor="let promotion of promotions" [value]="promotion.id">{{promotion.name}}</option>
            </select>
          </div>
          <div class="col-xs-4">
            <button (click)="navigateToSelectedPromotion()" [disabled]="!activeYear"
                    class="btn btn-success">Aller
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
