<div *ngIf="successes && successes.length > 0" class="alert alert-success" role="alert">
  <div *ngFor="let msg of successes">
    <div *ngIf="msg !== undefined">{{ msg }}</div>
  </div>
</div>

<div *ngIf="infos && infos.length > 0" class="alert alert-info" role="alert">
  <div *ngFor="let msg of infos">
    <div *ngIf="msg !== undefined">{{ msg }}</div>
  </div>
</div>

<div *ngIf="warnings && warnings.length > 0" class="alert alert-warning" role="alert">
  <div *ngFor="let msg of warnings">
    <div *ngIf="msg !== undefined">{{ msg }}</div>
  </div>
</div>

<div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
  <div *ngFor="let msg of errors">
    <div *ngIf="msg !== undefined">{{ msg }}</div>
  </div>
</div>

