<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/']"> <i></i><img height="57" src="../../../../assets/dinosaure2.png" width="50">
      <b>Tirajosaure</b></a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Réinitialisation du mot de passe</p>

    <rs-info-card #card></rs-info-card>

    <form #form="ngForm" (ngSubmit)="resetPassword()">
      <div class="form-group has-feedback">
        <label class="sr-only" for="password">Mot de passe</label>
        <input #password="ngModel" [(ngModel)]="data.password"
               [class.form-control-danger]="password.invalid && password.touched" [maxlength]="100"
               [minlength]="6" class="form-control"
               id="password" name="password" placeholder="Mot de passe"
               required
               type="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="password.invalid && password.touched && password.errors?.required"
                 class="form-text text-danger">
            Un mot de passe est requis.
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button [class.btn-pulse]="submitted"
                  [disabled]="submitted || !form.valid"
                  class="btn btn-primary btn-block btn-flat"
                  type="submit">Réinitialiser le mot de passe
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
