<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/']"> <i></i><img height="57" src="../../../../assets/dinosaure2.png" width="50">
      <b>Tirajosaure</b></a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Mot de passe oublié ?</p>

    <rs-info-card #card></rs-info-card>

    <form #form="ngForm" (ngSubmit)="requestPassword()">
      <div class="form-group has-feedback">
        <label class="sr-only" for="email">Email</label>
        <input #email="ngModel" [(ngModel)]="data.email" [class.border-danger]="email.invalid && email.touched"
               class="form-control"
               id="email" name="email" pattern=".+@.+..+" placeholder="Email"
               required type="text">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div class="input-group mb-3">
          <small *ngIf="email.invalid && email.touched && email.errors?.required"
                 class="form-text text-danger">
            L'adresse mail est requise.
          </small>
          <small *ngIf="email.invalid && email.touched && email.errors?.pattern"
                 class="form-text text-danger">
            L'adresse mail doit être valide.
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button [class.btn-pulse]="submitted"
                  [disabled]="submitted || !form.valid"
                  class="btn btn-primary btn-block btn-flat"
                  type="submit">Réinitialiser le mot de passe
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
