<div class="row">
  <div class="col-xs-12">
    <rs-info-card #card></rs-info-card>
  </div>
  <div *ngIf="(users && users.length > 0) else noUser" class="col-xs-12">
    <div class="col-xs-4" id="group-A">
      <div class="box">
        <div class="box-header">
          <div class="group-title">Groupe A</div>
          <div class="group-subtitle">{{groupA.length}} membre{{groupA.length > 1 ? 's' : ''}} | Objectif
            : {{Math.ceil(users.length / 2)}} ± 1
          </div>
        </div>
        <div class="box-body">
          <table class="table">
            <tr *ngFor="let user of groupA" class="group-row">
              <td class="row-id">
                {{user['showedId'] + '.'}}
              </td>
              <td class="row-name">
                <div
                  [ngClass]="{'groupBlocked' : user.groupBlocked}">{{ user.firstName }} {{ user.lastName.toUpperCase() }}</div>
              </td>
              <td *ngIf="!user.groupBlocked" class="row-arrow">
                <i (click)="switchToRight(user.id)" class="fa fa-arrow-right"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-4" id="no-group">
      <div class="box">
        <div class="box-header">
          <div class="group-title">Sans Groupe</div>
          <div class="group-subtitle">Reste : {{ noGroup.length }}</div>
        </div>
        <div class="box-body">
          <table class="table">
            <tr *ngFor="let user of noGroup" class="group-row">
              <td class="row-arrow"><i (click)="switchToLeft(user.id)" class="fa fa-arrow-left"></i></td>
              <td class="row-name"> {{ user.firstName }} {{ user.lastName.toUpperCase() }}</td>
              <td class="row-arrow"><i (click)="switchToRight(user.id)" class="fa fa-arrow-right"></i></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-4" id="group-B">
      <div class="box">
        <div class="box-header">
          <div class="group-title">Groupe B</div>
          <div class="group-subtitle">{{groupB.length}} membre{{groupB.length > 1 ? 's' : ''}} | Objectif
            : {{Math.ceil(users.length / 2)}} ± 1
          </div>
        </div>
        <div class="box-body">
          <table class="table">
            <tr *ngFor="let user of groupB" class="group-row">
              <td class="row-arrow">
                <i (click)="switchToLeft(user.id)" *ngIf="!user.groupBlocked" class="fa fa-arrow-left"></i>
              </td>
              <td class="row-id">
                {{user['showedId'] + '.'}}
              </td>
              <td class="row-name">
                <div
                  [ngClass]="{'groupBlocked' : user.groupBlocked}"> {{ user.firstName }} {{ user.lastName.toUpperCase() }}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noUser>
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="group-title">Aucun utilisateur trouvé dans cette promotion.</div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
