.group-column {
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid grey;
}

.box-body {
  padding-top: 0;
}

.table {
  text-align: center;
  width: 100%;
}

.group-row {
  padding-left: 10px;
  padding-right: 10px;
}

.row-arrow {
  font-size: 25px;
}

.row-id {
  text-align: right;
  padding-top: 12px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 17px;
}
.row-name {
  text-align: left;
  padding-top: 12px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 17px;
}

.groupBlocked {
  font-style: italic;
  color: #ffdb67;
  font-weight: bold;

  &::after {
    content: ' [Bloqué]';
  }
}

.group-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.group-subtitle {
  font-size: 17px;
  text-align: center;
  font-style: italic;
}

#group-A .box-header {
  background-color: #abff99;
}

#group-B .box-header {
  background-color: #ff8271;
}

#no-group .box-header {
  background-color: #87ffff;
}
