<div class="row">
  <div class="col-md-12">
    <rs-info-card #card></rs-info-card>

    <div class="box">
      <div class="box-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th *ngFor="let column of columns" [style.width.%]="column.width" scope="col">
              {{column.name}}
            </th>
            <th [style.width.%]="20">
              Actions
            </th>
          </tr>
          </thead>

          <tbody #tablebody dragula="RESULT_LINE">
          <!-- LIST + EDIT ROW -->
          <tr *ngFor="let resultLine of resultLines" [id]="'row-' + resultLine['id']">
            <td *ngFor="let column of columns">
              <div *ngIf="column.visible">

                <!-- EDITABLE VALUE -->
                <ng-container *ngIf="column.editable else notEditable">

                  <!-- SHOW VALUE-->
                  <div *ngIf="!editedRow || editedRow.id !== resultLine.id">

                    <div [ngSwitch]="column.editType">
                      <div *ngSwitchCase="'select'">
                        {{ getChoiceName(column.choices, resultLine[column.id]) }}
                      </div>
                      <div *ngSwitchCase="'datetime-local'">
                        {{resultLine[column.id] | date : 'dd/MM/yyyy à HH:mm'}}
                      </div>
                      <div *ngSwitchDefault>
                        {{ resultLine[column.id] }}
                      </div>
                    </div>

                  </div>

                  <!-- EDIT VALUE -->
                  <div *ngIf="editedRow && editedRow.id === resultLine.id">

                    <div [ngSwitch]="column.editType">
                      <div *ngSwitchCase="'select'">
                        <select [(ngModel)]="resultLine[column.id]" [disabled]="showEditConfirmation"
                                class="form-control">
                          <option *ngFor="let choice of column.choices"
                                  [value]="choice.value"> {{choice.name}} </option>
                        </select>
                      </div>
                      <div *ngSwitchDefault>
                        <input [(ngModel)]="resultLine[column.id]" [disabled]="showEditConfirmation"
                               [type]="column.editType"
                               class="form-control">
                      </div>
                    </div>

                  </div>


                </ng-container>

                <!-- NOT EDITABLE VALUE -->
                <ng-template #notEditable>
                  {{resultLine[column.id]}}
                </ng-template>

              </div>
            </td>

            <td style="text-align: center; font-size: large">
              <i (click)="showEditForm(resultLine)" *ngIf="showEditBtn" class="fa fa-pencil col-md-6"></i>
              <i (click)="confirmDelete(resultLine.id)" *ngIf="showDeleteBtn" class="fa fa-trash col-md-6"></i>

              <i (click)="confirmEdit()" *ngIf="editedRow && editedRow.id === resultLine.id"
                 class="fa fa-check col-md-6"></i>
              <i (click)="cancelEdit()" *ngIf="editedRow && editedRow.id === resultLine.id"
                 class="fa fa-times col-md-6"></i>
            </td>

          </tr>

          <!-- ADD ROW -->
          <tr dragula="WRONG">
            <td *ngFor="let column of columns">

              <div [ngSwitch]="column.editType">
                <div *ngSwitchCase="'select'">
                  <select [(ngModel)]="addedRow[column.id]" [disabled]="!column.editable || !showAddForm"
                          class="form-control">
                    <option *ngFor="let choice of column.choices"
                            [value]="choice.value"> {{choice.name}} </option>
                  </select>
                </div>
                <div *ngSwitchDefault>
                  <input [(ngModel)]="addedRow[column.id]" [disabled]="!column.editable || !showAddForm"
                         [placeholder]="column.name" [type]="column.editType"
                         class="form-control">
                </div>
              </div>

            </td>

            <td style="text-align: center">
              <button (click)="confirmAdd()" [disabled]="showAddConfirmation || !showAddForm"
                      class="btn btn-success col-md-12">Ajouter
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <rs-confirmation-card (output)="addElement($event)" *ngIf="showAddConfirmation"
                              [input]="confirmAddData"></rs-confirmation-card>
        <rs-confirmation-card (output)="editElement($event)" *ngIf="showEditConfirmation"
                              [input]="confirmEditData"></rs-confirmation-card>
        <rs-confirmation-card (output)="delElement($event)" *ngIf="showDelConfirmation"
                              [input]="confirmDeleteData"></rs-confirmation-card>
      </div>
    </div>
  </div>
</div>


