<rs-info-card #card></rs-info-card>

<div *ngIf="phase else loading">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="form-group">
            <label for="phaseName">Nom de la phase</label>
            <input [(ngModel)]="phase.name" class="form-control" id="phaseName" placeholder="Nom de la phase"
                   type="text">
            <br>

            <label for="beginDate">Date de début</label>
            <input
              (ngModelChange)="phase['beginDate'] = $event"
              [ngModel]="phase['beginDate'] | date:'yyyy-MM-ddTHH:mm'"
              class="form-control" id="beginDate" type="datetime-local">
            <br>

            <label for="endDate">Date de fin</label>
            <input
              (ngModelChange)="phase['endDate'] = $event"
              [ngModel]="phase['endDate'] | date:'yyyy-MM-ddTHH:mm'"
              class="form-control" id="endDate" type="datetime-local">
            <br>

            <label>Type de phase</label>
            <div *ngIf="phase.config" [ngSwitch]="phase.config.type">
              <div *ngSwitchCase="'group'">Groupe</div>
              <div *ngSwitchCase="'spreading'">Sélection de stage répartissant</div>
              <div *ngSwitchCase="'terrain'">Sélection de stage</div>
              <div *ngSwitchCase="'textual'">Affichage de texte</div>
            </div>
            <br>

            <button (click)="save()" [disabled]="submitted" class="col-xs-12 btn btn-success">Sauvegarder</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="phase">
    <div [ngSwitch]="phase.config.type">
      <div *ngSwitchCase="'group'">
        <rs-group-phase-editer #phaseEditer [config]="phase.config"></rs-group-phase-editer>
      </div>
      <div *ngSwitchCase="'terrain'">
        <rs-terrain-phase-editer #phaseEditer [config]="phase.config" [promotionId]="phase.promotionId"
                                 [yearId]="phase.yearId"></rs-terrain-phase-editer>
      </div>
      <div *ngSwitchCase="'spreading'">
        <rs-terrain-phase-editer #phaseEditer [config]="phase.config" [promotionId]="phase.promotionId"
                                 [yearId]="phase.yearId"></rs-terrain-phase-editer>
      </div>
      <div *ngSwitchCase="'textual'">
        <rs-textual-phase-editer #phaseEditer [config]="phase.config"></rs-textual-phase-editer>
      </div>

    </div>
  </div>
</div>

<ng-template #loading>
  <rs-loading></rs-loading>
</ng-template>
