<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/']"> <i></i><img alt="logo" height="57" src="../../../../assets/dinosaure2.png" width="50">
      <b>Tirajosaure</b></a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Déconnexion en cours...</p>
    <p class="login-box-msg">Merci de patienter.</p>
  </div>
</div>
</body>
