<rs-info-card #card></rs-info-card>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">

        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Fonction</th>
            <th scope="col">Contact</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let contact of contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.description}}</td>
            <td>{{contact.contact}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
