<rs-info-card #card></rs-info-card>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">

        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let doc of documents">
            <td>{{doc.name}}</td>
            <td>{{doc.description}}</td>
            <td>
              <button (click)="downloadDoc(doc.id, doc.fileName)" class="btn btn-success">Télécharger</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
